.fl {
    float: left;
}
.fr {
    float: right;
}
.clear_both {
    clear: both;
}
.t_c {
    text-align: center;
}
body {
    font-family: Arial;
}
.right_content_holder p {
    font-size: 14px !important;
    line-height: 26px;
    color: #363636; 
    padding: 0px;
}
.auction_info_wrap {
    font-size: 16px;
    line-height: 26px;
    margin: 0 auto;
    width: 720px;
    color: #363636;
    padding: 20px 0;
}
.auction_info_wrap h1 {
    font-size: 26px;
    padding-bottom: 5px;
}
.auction_info_wrap p{
    margin-bottom: 23px;
    width: 695px;
}
.auction_info_wrap img{
    margin: 30px 0 25px;
}
.auction_info_wrap .contact_link {
    text-decoration: underline;
    color: #559fd9;
}
.auction_info_wrap .contact_link:hover {
    text-decoration: none;
}
.money_back_guarantee{
    margin-left: 18px;
}
.money_back_guarantee img{
    margin-right: 20px;
}
.money_back_guarantee p {
    font-size: 16px !important;
    font-style: italic;
    margin-top: 67px;
    width: 380px;
}
