@media (min-width: 768px) {
	.full_wid_bg_mob {
		display: none;
	}
}

.full_wid_bg {
	-webkit-box-shadow: 0 3px 6px -3px #AAAAAA;
	-moz-box-shadow: 0 3px 6px -3px #AAAAAA;
	box-shadow: 0 3px 6px -3px #AAAAAA;
	width: 100%;
	height: 140px;
	background: -webkit-linear-gradient(#EEEEEE, #FBFBFB); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#EEEEEE, #FBFBFB); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#EEEEEE, #FBFBFB); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#EEEEEE, #FBFBFB); /* Standard syntax (must be last) */
}

.centered_content {
	margin: 0 auto;
	width: 960px;
}
.campaign_header {
	float: left;
	padding: 2px 10px 2px 5px;
	width: 945px;
	/*	border: 1px solid #FF0000;*/
	position: relative;
}
.campaign_banner {
	background: url('../img/business.png') no-repeat;
	width: 155px;
	height: 129px;
	float: left;
	position: relative;
	z-index: 10;
}
.campaign_offer {
	background: url('../img/offer.png') no-repeat;
	width: 132px;
	height: 132px;
	float: left;
	margin-left: -7px;
	position: relative;
	z-index: 9;
}
.arrow_header {
	background: url('../img/arrow.png') no-repeat;
	float: left;
	height: 46px;
	margin-left: 8px;
	margin-top: 50px;
	width: 56px;
}
.campaign_signup_form {
	margin: 5px 0 0;
	padding: 0 0 0 17px;
	width: 583px;
}
.join_form {
	margin: 0;
}
.two_rows {
	width: 185px;
	float: left
}
.second_col {
	margin-top: -5px;
}
.last_col {
	margin-left: 7px;
	width: 205px;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	width: 175px !important;
	height: 32px !important;
	border: 1px solid #E7E7E7 !important
}
.terms_services {
	margin: 0;
}
.terms_services span, .terms_services a {
	text-align: left;
	color: #535353;
    display: inline;
}
.terms_services a {
	text-decoration: none;
}
.signup_btn {
	width: 162px !important;
	margin: 6px 0 0 2px !important;
	font-size: 16px !important;
}
.campaign_signup_form h2 {
	color: #545454;
	font-size: 21px;
	font-weight: normal;
	margin-bottom: 5px;
}
.close_icon {
	background: url("../img/close.png") no-repeat;
	cursor: pointer;
	height: 11px;
	position: absolute;
	right: 20px;
	top: 10px;
	width: 11px;
}

/* styles for mobile */

@media (max-width: 768px) {
	.hidden-xs {
		display: none;
	}
	.visible-xs {
		display: block;
	}
	.full_wid_bg_mob {
		/*-webkit-box-shadow: 0 3px 6px -3px #AAAAAA;
		-moz-box-shadow: 0 3px 6px -3px #AAAAAA;
		box-shadow: 0 3px 6px -3px #AAAAAA;*/
		width: 100%;
		/*		height: 140px;*/
		padding: 10px 3%;
		position: relative;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		background: -webkit-linear-gradient(#EEEEEE, #FBFBFB); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(#EEEEEE, #FBFBFB); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(#EEEEEE, #FBFBFB); /* For Firefox 3.6 to 15 */
		background: linear-gradient(#EEEEEE, #FBFBFB); /* Standard syntax (must be last) */
	}
	.d_b {
		display: block;
	}
	.txt_style {
		text-decoration: underline;
	}
	.offer_text {
		background: #F04408;
		color: #FFFFFF;
		font-size: 13px;
		margin-left: -3%;
		margin-right: -3%;
		text-align: center;
		padding: 3px 3%;
		-webkit-box-shadow: 0 3px 6px -3px #AAAAAA;
		-moz-box-shadow: 0 3px 6px -3px #AAAAAA;
		box-shadow: 0 3px 6px -3px #AAAAAA;
	}
	.join_txt {
		padding: 0 3%;
		font-size: 14px;
	}
	.banner_signup_form {
		/*		display: none;*/
	}
	textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {

		width: 100% !important;
		border-color: #C0C0C0 #D9D9D9 #D9D9D9 !important;
	}
	.campaign_signup_form {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		margin: 5px 0 30px;
		padding: 0 3%;
		width: 100%;
		display: none;
	}
	.two_rows {
		float: none;
		width: auto;
	}
	.terms_services span, .terms_services a {
		text-align: center;
	}
	label {
		color: #000;
	}
	.signup_btn {
		width: 100% !important;
	}
	.last_col {
		margin-left: 0;
	}
	.logo_mobile {
		background: url("../img/mobile_logo.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
		float: left;
		height: 24px;
		width: 105px;
		margin-bottom: 18px;
	}
}