.xmas-logo{
    width: 165px;
    height: 49px;
    display: block;
    position: absolute;
    top: 10px;
    right: 2px;
}
.xmas-logo-en{
    background: url(../img/xmas_logo_en.png) no-repeat;
}
.xmas-logo-sv{
    background: url(../img/xmas_logo_sv.png) no-repeat;
}
.xmas-logo-de{
    background: url(../img/xmas_logo_de.png) no-repeat;
}
.xmas-wrapper{
    position: relative;
    width: 360px;
}
.christmas_popup {
    background:#4b576f; 
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1100;
   }
.christmas_bg {
    background:#dc3f36 url(../img/christmas_trees.png) bottom repeat-x;
    width:100%;
    padding:0px 0px 85px 0px;
}
.christmas_wrapper {
    width:710px;
    height:auto;
    margin:0px auto 0px auto;
    padding:60px 0px 0px 0px;
    padding:0px 0px 0px 0px;

}
.christmas_tree {
    background:url(../img/christmas_tree.png) no-repeat;
    width:303px;
    height:353px;
    margin:157px 0px 0px 0px;
}
.christmas_close {
    background: url(../img/christmas_close.png) no-repeat;
    top: 30px;
    right: 50px;
    width: 39px;
    height: 52px;
    display: block;
    position: absolute;
    cursor: pointer;
}
.christmas_close:hover {
	transform:scale(0.8);
    -ms-transform:scale(0.8); /* IE 9 */
    -moz-transform:scale(0.8); /* Firefox */
    -webkit-transform:scale(0.8); /* Safari and Chrome */
    -o-transform:scale(0.8); /* Opera */	
}
.christmas_content {
    font-family: 'Open Sans', sans-serif;
    width:402px;
    color:#fff;
    letter-spacing:3px;
    margin:60px 0px 0px 0px;
}
.christmas_content_header { margin:0px 0px 65px 0px; }
.christmas_content_header h2{
    font-size:45px;
    margin-left:8px;
    padding:0px;
    font-weight:normal;
    line-height: 44px;
}
.christmas_header_sv{
    font-size:72px !important;
    line-height: 72px !important;
    letter-spacing: 6px !important;
    text-align: center !important;
}
.christmas_content_header span {
    font-size:23px;
    margin:0px;
    padding:0px;
    display:block;
}
.christmas_content_sv {
    font-size:22px !important;
    text-indent: 77px !important;
}
.christmas_content_header code.ringing{
	 background:url(../img/christmas_bell.png) 0px 0px no-repeat;
	 height:76px;
	 width:45px;
	 position:absolute;
	 top:9px;
	 left:49px;
	 display:block;
	 border-radius:0px;
	 box-shadow: none;
	 -webkit-animation: ring 10s 1s ease-in-out infinite;
	 -webkit-transform-origin: 50% 4px;
	 -moz-animation: ring 10s 1s ease-in-out infinite;
	 -moz-transform-origin: 50% 4px;
	
}
.christmas_content_header span.christmas_bell {
    padding:31px 0px 0px 105px;
    height:44px;
    line-height: 39px;
    position:relative;
    
}

@-webkit-keyframes ring {
	0% { -webkit-transform: rotateZ(0); }
	1% { -webkit-transform: rotateZ(20deg); }
	3% { -webkit-transform: rotateZ(-18deg); }
	5% { -webkit-transform: rotateZ(24deg); }
	7% { -webkit-transform: rotateZ(-22deg); }
	9% { -webkit-transform: rotateZ(20deg); }
	11% { -webkit-transform: rotateZ(-18deg); }
	13% { -webkit-transform: rotateZ(16deg); }
	15% { -webkit-transform: rotateZ(-14deg); }
	17% { -webkit-transform: rotateZ(12deg); }
	19% { -webkit-transform: rotateZ(-10deg); }
	21% { -webkit-transform: rotateZ(8deg); }
	23% { -webkit-transform: rotateZ(-6deg); }
	25% { -webkit-transform: rotateZ(4deg); }
	27% { -webkit-transform: rotateZ(-2deg); }
	29% { -webkit-transform: rotateZ(8deg); }
	31% { -webkit-transform: rotateZ(-6deg); }
	33% { -webkit-transform: rotateZ(6deg); }
	35% { -webkit-transform: rotateZ(-4deg); }
	37% { -webkit-transform: rotateZ(2deg); }
	39% { -webkit-transform: rotateZ(-1deg); }
	41% { -webkit-transform: rotateZ(1deg); }

	43% { -webkit-transform: rotateZ(0); }
	100% { -webkit-transform: rotateZ(0); }
}

@-moz-keyframes ring {
	0% { -moz-transform: rotate(0); }
	1% { -moz-transform: rotate(20deg); }
	3% { -moz-transform: rotate(-18deg); }
	5% { -moz-transform: rotate(24deg); }
	7% { -moz-transform: rotate(-22deg); }
	9% { -moz-transform: rotate(20deg); }
	11% { -moz-transform: rotate(-18deg); }
	13% { -moz-transform: rotate(16deg); }
	15% { -moz-transform: rotate(-14deg); }
	17% { -moz-transform: rotate(12deg); }
	19% { -moz-transform: rotate(-10deg); }
	21% { -moz-transform: rotate(8deg); }
	23% { -moz-transform: rotate(-6deg); }
	25% { -moz-transform: rotate(4deg); }
	27% { -moz-transform: rotate(-2deg); }
	29% { -moz-transform: rotate(8deg); }
	31% { -moz-transform: rotate(-6deg); }
	33% { -moz-transform: rotate(6deg); }
	35% { -moz-transform: rotate(-4deg); }
	37% { -moz-transform: rotate(2deg); }
	39% { -moz-transform: rotate(-1deg); }
	41% { -moz-transform: rotate(1deg); }

	43% { -moz-transform: rotate(0); }
	100% { -moz-transform: rotate(0); }
}

@keyframes ring {
	0% { transform: rotate(0); }
	1% { transform: rotate(20deg); }
	3% { transform: rotate(-18deg); }
	5% { transform: rotate(24deg); }
	7% { transform: rotate(-22deg); }
	9% { transform: rotate(20deg); }
	11% { transform: rotate(-18deg); }
	13% { transform: rotate(16deg); }
	15% { transform: rotate(-14deg); }
	17% { transform: rotate(12deg); }
	19% { transform: rotate(-10deg); }
	21% { transform: rotate(8deg); }
	23% { transform: rotate(-6deg); }
	25% { transform: rotate(4deg); }
	27% { transform: rotate(-2deg); }
	29% { transform: rotate(0deg); }
	31% { transform: rotate(-4deg); }
	33% { transform: rotate(3deg); }
	35% { transform: rotate(-2deg); }
	37% { transform: rotate(2deg); }
	39% { transform: rotate(-1deg); }
	41% { transform: rotate(1deg); }
	43% { transform: rotate(0); }
	100% { transform: rotate(0); }
}
.christmas_content_header span.text_indent {
    font-weight:600;
    text-indent:114px;
    margin:0px;
    padding:10px 0px 0px 0px;
}
.christmas_header_center {
    margin-top: 180px !important;
}
.christmas_content p {
    font-size:18px;
    color:#fff;
    line-height: 28px;
    text-align:center;
}

.christmas_vocher_content {
    margin:25px 0px 0px -30px;
    color:#fff; 
}
.christmas_vocher_content h2{
    margin:0px 0px 20px 0px;
    padding:0px;
    font-family: Arial;
    font-size:36px;
    text-align:center;
    letter-spacing: normal;
}

.christmas_vouchercode_holder {
    height:45px;
    width:274px;
    margin:0px auto;
    background:#fff;
    border:1px dotted #000;
    -webkit-border-radius: 2px;    -moz-border-radius: 2px;    border-radius: 2px;
    position:relative;
}

.christmas_code_input {
    background:none !important;
    border:none !important;
    height:45px !important;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 21px !important;
    text-align:center !important;
    width:272px !important;
    cursor:default !important; 
    position:relative;
    z-index: 100;
    box-shadow: none;
    padding: 0px !important;
}

.have_question, .how_voucher_work {
    margin:25px 0px 0px 75px;
    letter-spacing: normal;
}
.how_voucher_work h3, .have_question h3{
    margin:0px;
    padding:0px;
    font-family:Arial;
    font-size:14px;
    color:#fff;
    display:block;
    letter-spacing: normal;
}
.how_voucher_work ol {
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 20px;
    width: 275px;
}
.how_voucher_work ol li{
    list-style-type: decimal !important;
}
.how_voucher_work ol li, .have_question span{
    margin:0px;
    padding:10px 0px 0px 0px;
    font-family:Arial;
    font-size:14px;
    color:#fff;
}
.fixido_signature{
    background:url(../img/christmas_signature.png) 0px 0px no-repeat;
    width:125px;
    height:41px;
    margin:20px 0px 0px 45px;
    display:block;
}
.fixido_signature_used{
    margin:20px 0px 0px 70px;
}
.vouchercard_en, .vouchercard_sv, .vouchercard_de {
    width:298px;
    height:183px;
    margin:0px auto 10px auto;
}
.vouchercard_en {
    background:url(../img/christmas_voucher_card_en.png) 0px 0px no-repeat;
}
.vouchercard_sv {
    background:url(../img/christmas_voucher_card_sv.png) 0px 0px no-repeat;
}
.vouchercard_de {
    background:url(../img/christmas_voucher_card_de.png) 0px 0px no-repeat;
}
.vouchercard_en:hover, .vouchercard_sv:hover, .vouchercard_de:hover {
	transform:scale(1.02);
    -ms-transform:scale(1.02); /* IE 9 */
    -moz-transform:scale(1.02); /* Firefox */
    -webkit-transform:scale(1.02); /* Safari and Chrome */
    -o-transform:scale(1.02); /* Opera */	
}
	
.get_voucher_btn {
    background:#fec73b;
    color:#412f01;
    font-size:18px;
    font-family:Arial !important;
    line-height: 34px;
    height: 34px;
    width:230px !important;
    text-align:center;
    border: none;
    margin:0px auto;
    display:block;
    cursor: button;
    -webkit-appearance: button;
}

