.help_texts {
	width: 146px;
	padding: 14px 24px 2px 14px;
	top: 8px;
	right: -191px;
	position: absolute;
	display: none;
	z-index: 1001;
	background: #f9edbe;
	border: 1px solid #f0c36d;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
.aecr_container .help_texts {
	width: 180px;
}
code {
	border-radius: 0px;
	box-shadow: none;
	display: block;
	border: none;
	padding: 0px;
	margin: 0px;
}
code.arrow_left, .thank_you_block span.arrow_left, .added_to_basket span.arrow_left, code.arrow_right, .thank_you_block span.arrow_right, .added_to_basket span.arrow_right {
	background: url("../img/icons.png?version=2.4.0") no-repeat scroll 0 -1243px rgba(0, 0, 0, 0);
	border: medium none;
	height: 41px;
	margin: -15px 0 0 -32px;
	position: absolute;
	width: 18px;
}
.help_texts b {
	font-size: 18px;
	color: #000;
	font-family: Arial;
	font-weight: normal;
	position: relative;
	line-height: 18px;
	word-wrap: break-word;
}
.help_texts b.small_bold {
	font-size: 13px;
	font-weight: bold;
}
.help_texts p b {
	font-size: 13px;
	font-weight: bold;
}
.help_texts b code.close, .thank_you_block .help_texts b span.close, .added_to_basket .help_texts b span.close ,
.help_texts code.close{
	background: url(../img/icons.png?version=2.4.0) 0px -1065px no-repeat;
	border: none;
	padding: 9px;
	margin-right: -16px;
	display: block;
	opacity: 0.5;
	position: absolute;
	top: 2px;
	left: 145px;
}
.help_texts code.close{
	left: 160px;
	top: 14px;
}
.aecr_container .help_texts code.close{
	left: 195px;	
}

.help_texts b code.close:hover, .thank_you_block .help_texts b span.close:hover, .added_to_basket .help_texts b span.close:hover,
.help_texts code.close:hover {
	opacity: 1;
}
.help_texts p, .thank_you_block .help_texts p, .added_to_basket .help_texts p {
	font-size: 13px;
	color: #000;
	font-family: Arial;
	line-height: 18px;
	padding: 7px 0px 0px 0px;
}
.thank_you_block .help_texts p {
	margin: 0 0 9px;
}
code.arrow_right {
	/*	background-position: 0px -966px;*/
	background-position: 0 -1176px;
	/*	margin:-15px 0px 0px 208px;*/
	margin: -15px 0 0 170px;
}
.aecr_container code.arrow_right {
	margin-left: 204px;
}
.help_texts ol {
	margin-left: 20px;
}
.help_texts ol li {
	list-style: decimal;
	color: #000000;
}
.no_padding {
    padding: 0 !important;
}
.padding_hr {
	padding: 0 10px !important;
}