.fl{
float: left;
}

body{
background: none repeat scroll 0 0 #F7F7F7;
font-family: arial;
}
.centerMargin{
margin:0 auto;
width: 960px;
}
#Partners {
}
.Partner_welcome {

margin-bottom: 20px;
}
.Partner_welcome h1{
font-family: arial;
font-size: 35px;
font-weight: normal;
letter-spacing: 1px;
margin-bottom: 12px;
margin-top: 26px;

}
.Partner_welcome p{
font-size: 14px;
line-height: 22px;
padding: 0 50px;
width: 860px;
}
.Partner_welcome a {
  background: none repeat scroll 0 0 #55A0DA;
  border: 1px solid #367EED;
  color: #FFFFFF;
  font-size: 19px;
  line-height: 30px;
  padding: 3px 25px;
  text-decoration: none;
}
.textCenter{
text-align:center;
}
#Partner_wrapper{

padding: 0 15px;
width: 930px;
padding-bottom: 10px;
}
.partner{
background: none repeat scroll 0 0 #F9F9F9;
border: 1px solid #EBEBEB;
margin-right: 30px;
padding-bottom: 30px;
padding-left: 15px;
padding-top: 50px;
width: 273px;
}
.partner h1{

font-size: 20px;
font-weight: normal;
margin-top: 0;
width: 165px;
}
.partner h1 span{
display: inline-block;
font-size: 26px;
width: 100%;
}
.icon{
padding-left: 10px;
}
#Partner_wrapper .BecomePartner{
background: transparent url("../img/static_partner_img1.png?version=2.1.1") scroll  no-repeat 0 0;
height: 83px;
width: 62px;
margin-left: 10px;
}
#Partner_wrapper .ServiceToPartner{
background: transparent url("../img/static_partner_img2.png?version=2.1.1") scroll  no-repeat 0 0;
height: 83px;
width: 62px;
margin: 0 8px 0 5px;
}
#Partner_wrapper .BenifitPartner{
background: transparent url("../img/static_partner_img3.png?version=2.1.1") scroll no-repeat 0 0;
height: 83px;
width: 62px;
margin: 0 10px 0 25px;
}

.partner_content{
background: none repeat scroll 0 0 #FFFFFF;
/*box-shadow: -4px 0 2px -5px #333333, 4px 0 2px -5px #333333;*/
margin-bottom: 20px;
padding-bottom: 105px;
width: 960px;
}
.content_text{
width:290px;
padding: 0 15px;
}
.content_text p{
font-size: 13px;
line-height: 22px;
margin-bottom: 25px;
margin-top: 1em;
text-align: justify;
}
.content_text p span{
display:block;
font-weight:bold;
}