@media (max-width: 768px){
*, *:before, *:after {
  box-sizing: border-box;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.clear_both {
	clear: both;
}
.t_c {
	text-align: center;
}
.hidden-xs{
	display: none;
}

.visible-xs{
	display:block;
}
h1.main_title {
	color: #559FD9;
	font-family: 'arial';
	font-size: 21px;
	text-transform: uppercase;
	margin: 0.67em 0 0.67em 0;
	float: left;
}
body{
	margin: 0;
}
.info_graphics_wrap {
/*	border: 1px solid #FF0000;*/
	margin: 10px auto 80px;
/*	width: 960px;*/
	color: #474C50;
	font-family: arial;
	font-size: 14px;
	padding-bottom: 30px;
	padding: 0 5%;	
	

}
/*.logo_title {
	background: url('../img/m_logo_title.png?version=2.4.0') no-repeat;
	width: 69px;
	height: 17px;
	display: inline-block;
}*/
#step1, #step3, #step5, #step7 {
	position: relative;
	background: url("/static/img/m_vert_line.png?version=2.4.0") repeat-y scroll right top;
	padding-right: 8%;
	width: 100%;
	padding-bottom: 10px;
}
#step2, #step4, #step6 {
	position: relative;
/*	width: 769px;*/
	/*	border-left: 4px dotted #559FD9;*/
	background: url("/static/img/m_vert_line.png?version=2.4.0") repeat-y scroll left top;
/*	margin-left: 114px;*/
/*	margin-left: 64px;*/
}
.num_round {
	background: url("/static/img/m_number_round.png?version=2.4.0") no-repeat;
	height: 37px;
	position: absolute;
	right: -15px;
	top: 0;
	width: 37px;
}
.num2_round, .num4_round, .num6_round {
	left: -17px;
	top: 14px;
}
.num_round .num2, .num_round .num4, .num_round .num6 {
	margin-left: 13px;
}
.num3_round, .num5_round, .num7_round {
	top: 20px;
}
.num_round .num3, .num_round .num5, .num_round .num7 {
	margin-left: 13px;
}
.step_num {
	color: #FFFFFF;
	display: inline-block;
	font-family: 'arial';
	font-size: 24px;
	margin-left: 11px;
	margin-top: 4px;
	text-align: center;
	width: auto;
	
}
.steps h1{
	font-size: 24px;
}
.steps p {
	font-size: 14px;
	line-height: 24px;
	color: #474c50;
	font-family: arial;
	margin-top: 5px;
	margin-bottom: 0;
}	
.r_l_curve,
.l_r_curve{
	width:100%;
}
.m_r_l_curve1 {
	background: url("/static/img/m_r_l_curve1_new.png?version=2.4.0") no-repeat scroll 1px 0 rgba(0, 0, 0, 0);
float: right;
height: 15px;
width: 20px;
position: relative;
z-index: 2;

}
.m_hr_line{
	background: url("/static/img/m_hr_line.png?version=2.4.0") repeat-x;		
	width: 100%;	
	float: left;
	height: 4px;
	margin-top: -4px;

}
.m_r_l_curve2 {
	background: url("/static/img/m_r_l_curve2_new.png?version=2.4.0") no-repeat scroll 1px 0 rgba(0, 0, 0, 0);
	float: left;
	height: 13px;
	width: 13px;
	position: relative;
	z-index: 2;
	margin-top: -4px;

}
.m_l_r_curve1 {
	background: url("/static/img/m_l_r_curve1_new.png?version=2.4.0") no-repeat scroll 1px 0 rgba(0, 0, 0, 0);
	float: left;
	height: 18px;
	width: 18px;
	position: relative;
	z-index: 2;

}
.m_l_r_curve2 {
	background: url("/static/img/m_l_r_curve2_new.png?version=2.4.0") no-repeat scroll 1px 0 rgba(0, 0, 0, 0);
	float: right;
	height: 18px;
	width: 17px;
	position: relative;
	z-index: 2;
	 margin-top: -4px;

}
.step_title {
	color: #474C50;
	font-family: arial;
	font-size: 24px;
	margin-bottom: 0;
	margin-top: 0;
}
.content_wrap {
	margin-left: 30px;
}
#step2 .m_contact,
#step3 .m_price {
	display: inline-block;
	text-align: center;
}
.guarantee_title, .partner_title {
	float: left;
	margin-top: 20px;
}
.steps p.txt_highlight {
	background: #E8E8E8;
	font-weight: bold;
	padding: 0 10px;
	width: auto;
	margin-top: 10px;
}
.list_points {
	list-style: none outside none;
	padding: 0;
	margin-top: 15px;
}
.list_points_summary {
	margin-bottom: 0;
}
.list_points li {
	margin-bottom: 20px;
}
.list_points_summary li:last-child {
	margin-bottom: 0;
}
.support_info {
	font-size: 18px;
}
.phone_info, .email_info {
	background: url("/static/img/m_contact_support.png?version=2.4.0") no-repeat scroll center center;
	float: left;
	padding-top: 100px;
	text-align: center;
	width: 50%;
	font-size: 14px;
}
.phone_info a, .email_info a, .summary_contact{
	color: #559fd9;
	text-decoration: underline;
} 
.summary_contact{
	display:inline;
}
.email_info {
	background: url("/static/img/m_email.png?version=2.4.0") no-repeat scroll center center;
}
.steps p.italic_content {
	font-style: italic;
	margin-top: 35px;
/*	text-align: center;*/
}
.tips {
	border-top: 1px solid #d7d7d7;
	border-bottom: 1px solid #d7d7d7;
/*	width: 846px;*/
	background: #fffeda;
	/*	opacity: 0.4;*/
	font-family: segoe print;
	font-size: 14px;
	font-weight: bold;
	padding: 10px 0 0;
	margin: 0 -5%;
	/*	padding-bottom: 30px;*/
}
.tips_wrap {
	margin: 0 auto;
/*	width: 826px;*/
	/*padding-left: 35px;*/
	padding: 0 5%;
}
.tips_wrap h1 {
	font-size: 24px;
	margin-bottom: 0;
	margin-top: 15px;
}
.tips_wrap h1 i {
	margin-right: 10px;
}
.tips_content {
/*	width: 490px;*/
	margin-right: 5px;
	line-height: 30px;
}
.tips_list {
	background: url("/static/img/tips.png?version=2.4.0") no-repeat scroll 0 0;
	height: 293px;
	margin-top: 20px;
	width: 276px;
	float: none;
	display: inline-block;
	text-align: left;
}
.tips_list ul {
	list-style: none outside none;
	margin: 0;
	padding-top: 60px;
	width: 251px;
	padding-left: 32px;
	-ms-transform: rotate(-6deg); /* IE 9 */
	-webkit-transform: rotate(-6deg); /* Chrome, Safari, Opera */
	transform: rotate(-6deg);
}
.tips_list ul li {
	margin-bottom: 10px;
	font-size: 13px;
}
.tips_list_wrap{
	clear: both;
	text-align: center;
}
.partner_icon {
	background: url("/static/img/m_partners.png?version=2.4.0") no-repeat scroll 0 0 ;
	height: 57px;
	margin-left: 10px;
	margin-top: 10px;
	width: 51px;
}
.guarantee_img {
	margin-left: 30px;	
}
.list_points li,.list_points span{
	float: left;

}
.list_points i{
	float: left;
/*height: 30px;*/
margin-right: 10px;
}
.list_points li span {
	float : none;
}
.m_r_l_connector_last {
	background: url("/static/img/m_r_l_connector_last.png?version=2.4.0") no-repeat scroll 0 0;
	float: right;
	height: 50px;
/*	margin-right: 118px;*/
/*	margin-right: 76px;*/
	width: 28px;
	margin-top: 11px;
	margin-bottom: 8px;	
}
.m_hr_line_last{
	float: right;
	margin-left: -26px;
	margin-right: -20px;
	margin-top: 11px;
	width: 50%;
}
.join_us_link_wrap{
	width: 100%;
}
.join_us_link {
	background: #559FD9;
	color: #fff;
	display: inline-block;
	font-size: 16px;
	line-height: 16px;
	padding: 10px 40px;
	text-decoration: none;
	animation: blink 5s infinite;
	-moz-animation: blink 5s infinite;
	-webkit-animation: blink 5s infinite;
	
}
.join_us_link:hover {
	color: #fff;
	text-decoration: none;
	animation: none;
	-moz-animation: none;
	-webkit-animation: none;
}
@keyframes blink{
	0%{
		opacity: 1;
	}
	49%{
		opacity:1;
	}
	50%{
		opacity: 1;
	}
	75%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}
@-webkit-keyframes blink{
	0%{
		opacity: 1;
	}
	49%{
		opacity:1;
	}
	50%{
		opacity: 1;
	}
	75%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}

}








/*styles for desktop*/

@media (min-width: 768px){
*, *:before, *:after {
  box-sizing: border-box;
}
.visible-xs{
	display: none;
}	
.padding_hr{
	padding: 0 10px;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.clear_both {
	clear: both;
}
.t_c {
	text-align: center;
}
.no_padding {
  padding: 0 !important;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
 	 line-height: 1.43; 
}
body {
  line-height: inherit;
}
.container_full{
	position: relative;
	width:962px !important;
	margin: 0 auto;
}
h1.main_title {
	color: #559FD9;
	font-family: 'arial';
	font-size: 36px;
	text-transform: uppercase;
/*	margin: 0.67em 0 0.67em 118px;*/
	margin: 0.67em 0 0.67em 66px;
	float: left;
}

.info_graphics_wrap {
/*	border: 1px solid #FF0000;*/
	margin: 20px auto 80px;	
	color: #474C50;
	font-family: arial;
	font-size: 15px;
	padding-bottom: 30px;
/*	width: 960px;*/
	width:826px;
	float:left;	
		
	/*background: -webkit-linear-gradient(#f5f5f5, #f8f8f8);
	background: -o-linear-gradient(#f5f5f5, #f8f8f8);
	background: -moz-linear-gradient(#f5f5f5, #f8f8f8);
	background: linear-gradient(#f5f5f5, #f8f8f8);*/

}
.steps {
	margin-left: 118px;
}
#step1, #step3, #step5, #step7 {
	position: relative;
	width: 685px;
/*	margin-left: 116px;*/
	margin-left: 66px;
	background: url("/static/img/vert_line.png?version=2.4.0") repeat-y scroll right top;
	/*	border-right: 4px dotted #559FD9;*/
}
#step2, #step4, #step6 {
	position: relative;
	width: 769px;
	/*	border-left: 4px dotted #559FD9;*/
	background: url("/static/img/vert_line.png?version=2.4.0") repeat-y scroll left top;
/*	margin-left: 114px;*/
	margin-left: 64px;
}
.num_round {
	background: url("/static/img/number_round.png?version=2.4.0") no-repeat;
	height: 75px;
	position: absolute;
	right: -73px;
	top: -74px;
	width: 114px;
}
.num2_round, .num4_round, .num6_round {
	left: -37px;
	top: -4px;
}
.num_round .num2, .num_round .num4, .num_round .num6 {
	margin-left: 25px;
}
.num3_round, .num5_round, .num7_round {
	top: -4px;
}
.num_round .num3, .num_round .num5, .num_round .num7 {
	margin-left: 25px;
}
.step_num {
	color: #FFFFFF;
	display: inline-block;
	font-family: 'arial';
	font-size: 48px;
	margin-left: 23px;
	margin-top: 8px;
	text-align: center;
	width: auto;
}
.logo_round {
	background: url("/static/img/logo_round.png?version=2.4.0") no-repeat;
	height: 158px;
	position: absolute;
	width: 158px;
	right: -77px;
	top: 40px;
}
.step_title {
	color: #474C50;
	font-family: arial;
	font-size: 36px;
	margin-bottom: 0;
	margin-top: 0;
}
.even {
	margin-left: 55px;
}
.steps p.lead_content {
	width: 580px;
}
.steps p {
	font-size: 15px;
	line-height: 30px;
	color: #474c50;
	font-family: arial;
	margin-top: 5px;
	width: 640px;
}
.steps p.price_content, .steps p.support_content {
	width: 640px;
}
.logo_title {
	background: url('../../img/logo_title.png?version=2.4.0') no-repeat;
	width: 118px;
	height: 26px;
	display: inline-block;
}
.r_l_connector {
	background: url('../../img/r_l_connector_new.png?version=2.4.0') no-repeat;
	height: 67px;
/*	margin-left: 112px;*/
	margin-left: 62px;
	margin-top: -17px;
	width: 688px;
}
.r_l_connector_last {
	background: url("/static/img/r_l_connector_last_new.png?version=2.4.0") no-repeat scroll 0 0;
	float: right;
	height: 170px;
/*	margin-right: 118px;*/
	margin-right: 76px;
	width: 359px;
	margin-bottom: 8px;
}
.l_r_connector {
	background: url('../../img/l_r_connector_new.png?version=2.4.0') no-repeat;
	height: 69px;
/*	margin-left: 114px;*/
	margin-left: 63px;
	margin-top: -13px;
	width: 688px;
	clear: both;
}
.content_wrap {
	margin-left: 55px;
}
.steps p.guarantee_content {
	width: 485px;
}
.guarantee_title, .partner_title {
	padding-top: 11px;
}
.guarantee_img {
	margin-left: 10px;
	margin-top: 18px;
}
.steps p.txt_highlight {
	background: #E8E8E8;
	font-weight: bold;
	padding: 0 10px;
	width: auto;
}
.list_points {
	list-style: none outside none;
	padding: 0;
	margin-top: 10px;
}
.list_points_summary {
	margin-bottom: 0;
}
.list_points li {
	margin-bottom: 15px;
}
.list_points_summary li:last-child {
	margin-bottom: 0;
}
.support_content_wrap {
	width: 660px;
}
.support_info {
	font-size: 18px;
}
.phone_info, .email_info {
	background: url("/static/img/contact.png?version=2.4.0") no-repeat scroll center center;
	float: left;
	padding-top: 140px;
	text-align: center;
	width: 50%;
}
.email_info {
	background: url("/static/img/email.png?version=2.4.0") no-repeat scroll center center;
}
.steps p.italic_content {
	font-style: italic;
	margin-top: 35px;
	text-align: center;
}
.tips {
	border-top: 1px solid #d7d7d7;
	border-bottom: 1px solid #d7d7d7;
	width: 846px;
	background: #fffeda;
	/*	opacity: 0.4;*/
	font-family: segoe print;
	font-size: 14px;
	font-weight: bold;
	padding: 10px 0 20px;
	/*	padding-bottom: 30px;*/
}
.tips_wrap {
	margin: 0 auto;
	width: 826px;
	padding-left: 35px;
}
.tips_wrap h1 {
	font-size: 36px;
	margin-bottom: 0;
	margin-top: 15px;
}
.tips_wrap h1 i {
	margin-right: 10px;
}
.tips_content {
	width: 490px;
	margin-right: 5px;
	line-height: 30px;
}
.tips_list {
	background: url("/static/img/tips.png?version=2.4.0") no-repeat scroll 0 0;
	height: 293px;
	margin-top: -13px;
	width: 276px;
}
.tips_list ul {
	list-style: none outside none;
	margin: 0;
	padding-top: 60px;
	width: 251px;
	padding-left: 32px;
	-ms-transform: rotate(-6deg); /* IE 9 */
	-webkit-transform: rotate(-6deg); /* Chrome, Safari, Opera */
	transform: rotate(-6deg);
}
.tips_list ul li {
	margin-bottom: 10px;
	font-size: 13px;
}
.r_l_step6 {
	margin-top: 0;
}
.partner_icon {
	background: url("/static/img/partners.png?version=2.4.0") no-repeat scroll 0 0;
	height: 82px;
	margin-left: 20px;
	width: 71px;
}
.join_us_link_wrap{
	width: 100%;
}
.join_us_link {
	background: #559FD9;
	color: #fff;
	display: inline-block;
	font-size: 21px;
	line-height: 30px;
	padding: 10px 50px;
	text-decoration: none;
	animation: blink 5s infinite;
	-moz-animation: blink 5s infinite;
	-webkit-animation: blink 5s infinite;
	
}
.join_us_link:hover {
	color: #fff;
	text-decoration: none;
	animation: none;
	-moz-animation: none;
	-webkit-animation: none;
}
@keyframes blink{
	0%{
		opacity: 1;
	}
	49%{
		opacity:1;
	}
	50%{
		opacity: 1;
	}
	75%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}
@-webkit-keyframes blink{
	0%{
		opacity: 1;
	}
	49%{
		opacity:1;
	}
	50%{
		opacity: 1;
	}
	75%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}



/*sidebar_styles*/


.profile_sidebar .sidebar_links ul {
    background: url("/static/img/folder_bg.png?version=2.4.0") no-repeat scroll center bottom rgba(0, 0, 0, 0);
    margin: 0 0 6px -7px;
    padding: 0 0 18px;
}
.profile_sidebar {
    width:125px;    height:420px;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(left,  #ffffff 0%, #f6f6f6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #ffffff 0%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #ffffff 0%,#f6f6f6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #ffffff 0%,#f6f6f6 100%); /* IE10+ */
    background: linear-gradient(to right,  #ffffff 0%,#f6f6f6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=1 ); /* IE6-9 */
    border-right:1px solid #bfbfbf;
    padding:15px 0px 0px 0px;
}
.profile_sidebar h2 {
    font-family:Arial;  color:#4b576e;  font-size:17px;
    display: block; 
}
.profile_sidebar h2 a { color:#4b576e; }
.profile_sidebar h2 a:hover { text-decoration: none; }
.profile_sidebar .sidebar_links ul {
    margin:0px 0px 6px -7px;    padding: 0px 0px 18px;
    background: url("/static/img/folder_bg.png?version=2.4.0") no-repeat center bottom;
}
.profile_sidebar .sidebar_links li {
    margin:0px 0px 0px 0px; padding:0px 0px 0px 7px !important;
    cursor: pointer;
    line-height: 30px;
    position:relative;  display:block !important;
}
.profile_sidebar .sidebar_links li a {
    font-family:Arial;  font-weight:normal; font-size:14px;
    color:#000;
    display:block;
}
.profile_sidebar .sidebar_links li:hover a, .profile_sidebar .sidebar_links li.active a { text-decoration:none; }
.profile_sidebar .sidebar_links li code {
    display:none;
    width:4px;  height:30px;
    background:#559fd9;
    position:absolute;
    left:-4px;  top:0px;
    border:none !important;
    padding:0px !important;
    -webkit-border-radius:0px !important;
    -moz-border-radius:0px !important;
    border-radius:0px !important;
}
.profile_sidebar .sidebar_links li:hover, .profile_sidebar .sidebar_links li.active {
    background:url("/static/img/sidebar_hover_bg.png?version=2.4.0") repeat;
}
.profile_sidebar .sidebar_links li:hover code, .profile_sidebar .sidebar_links li.active code {
    display:block;
}
.profile_sidebar .folders ul { margin:0px; padding:0px; }
.profile_sidebar .folders li {
    font-size:14px; font-family: Helvetica; color: #000;
    line-height: 19px;      cursor: pointer;
    background: url("/static/img/icons.png?version=2.4.0") no-repeat 0px -751px;
    padding: 0px 0px 0px 15px;
    position: relative;
}
.profile_sidebar .folders li code {
    width:10px; height: 10px; display:block;
    position: absolute; right:0px; top: 0px;
    background: url("/static/img/icons.png?version=2.4.0") no-repeat 0px -780px; border: none;
}
.profile_sidebar .folders li.active {
    background-position: 0px -703px;
    color:#559fd9;
}
.profile_sidebar .folders code.leftarrow { background-position: 0px -822px; }
.profile_sidebar ul li:hover code  {
    display:block !important;
}
.profile_sidebar ul li.sidemenu_active {
    background:url("/static/img/sidebar_hover_bg.png?version=2.4.0") repeat;
}
.profile_sidebar ul li.sidemenu_active code {
    display:block !important;
}

}



