body {
	background: none repeat scroll 0 0 #F2F2F2;
}
.voucher_popup, .payout_popup, .deposit_popup, .signup_popup, .forgotpassword_popup {
	background: none repeat scroll 0 0 #FDFDFD;
	box-shadow: none;
	height: auto;
	z-index: 9991;
	position: static;
	margin: 0;
}
.signup_popup, .forgotpassword_popup {
	display: block;
}

#popup_joinus_form {
	width: 100% !important;
}
.banner_signup_form .form_inputfileds, .popup_contents .form_inputfileds {
	width: 100% !important;
}
.banner_signup_form label, .popup_contents label {
	font-weight: normal;
}
.signup_popup, .forgotpassword_popup {
	padding: 13px 0;
	width: 100% !important;
	margin: 0 !important;
}
.form_inputfileds {
	height: 30px !important;
}
.signup_btn {
	width: 100% !important;
}
.terms_services {
	margin: 10px 0 0;
}
.terms_services span, .terms_services a {
	text-align: left;
	font-size: 13px;
	text-decoration: none;
}
.join_us_title {
	color: #424141;
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 10px;
}
.joinus_footer {
	font-size: 13px;
	padding: 0 3% !important;
}
.joinus_footer .signin_alert1 {
	color: #559FD9 !important;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
}
.signup_popup {
	background: none repeat scroll 0 0 #F2F2F2;
}
.signup_popup .popup_contents {
	padding: 0 3% !important;
}
.popup_contents .btn {
	border-radius: 2px;
	padding: 4px 0 !important;
}
.m_footer {
	margin-left: -20px;
	margin-right: -20px;
}

.popup_contents form {
	margin: 0 0 18px;
}

.popup_contents textarea, .popup_contents input[type="text"], .popup_contents input[type="password"], .popup_contents input[type="datetime"], .popup_contents input[type="datetime-local"], .popup_contents input[type="date"], .popup_contents input[type="month"], .popup_contents input[type="time"], .popup_contents input[type="week"], .popup_contents input[type="number"], .popup_contents input[type="email"], .popup_contents input[type="url"], .popup_contents input[type="search"], .popup_contents input[type="tel"], .popup_contents input[type="color"], .popup_contents .uneditable-input {
	color:#333;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-ms-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
	
}
.popup_contents textarea:focus, .popup_contents input[type="text"]:focus, .popup_contents input[type="password"]:focus, .popup_contents input[type="datetime"]:focus, .popup_contents input[type="datetime-local"]:focus, .popup_contents input[type="date"]:focus, .popup_contents input[type="month"]:focus, .popup_contents input[type="time"]:focus, .popup_contents input[type="week"]:focus, .popup_contents input[type="number"]:focus, .popup_contents input[type="email"]:focus, .popup_contents input[type="url"]:focus, .popup_contents input[type="search"]:focus, .popup_contents input[type="tel"]:focus, .popup_contents input[type="color"]:focus, .popup_contents .uneditable-input:focus {
	border-color: rgba(82, 168, 236, 0.8);
	outline: 0;
	outline: thin dotted \9;
	/* IE6-9 */

	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
}
#joinus_popup_content #state_p {
	display: block;
}