
.fl{ float:left !important; }
.fr{ float:right; }

.terms_services {
	margin:18px 0px 0px 0px;
}
.terms_services span, .terms_services a {
	font-family:Helvetica;	font-size:12px;	color:#000;	font-weight:normal; padding:0px 0px 0px 2px;
	display:block;
	text-align:center;
}
.terms_services a {
	color:#559fd9 !important;
	cursor:pointer;
	padding:0px !important;
	text-decoration:underline;
}
.terms_services a:hover { text-decoration:none; }
.signup_btn { background:#559fd9 !important; padding:4px 0px;	margin:13px 0px 0px 2px !important; width:285px !important; height:auto !important; font-family:Arial; font-size: 21px !important; }
.joinus_popup .signup_btn { padding:2px 15px;	margin:0px 0px 0px 0px; width:auto !important; height:auto !important; }
.joinus_popup_form input.signup_btn {
	font-size: 16px;
	padding: 0px 10px;
	border-radius: 2px;
	height:24px !important;
}

/********** Selectbox Style ************/
.custom_select {
    width: 121px;	height:27px;
    position: relative;
	cursor:pointer;
	top:0px;	right:0px;
}
.custom_select_l { width:364px !important;}
.custom_select_210 { width:210px !important; }
.custom_select .select {
    width: 99px;
	padding:0px 10px;
    position: absolute;
    top: 0;    left: 0;
    background: #ffffff;
	font-family:"Droid Sans";    font-size: 12px;    font-weight: normal;	color: #2a2a2a;
	cursor:pointer;
	border:1px solid #969daa;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
}
.custom_select_l .select { width:351px !important; }
.custom_select_210 .select { width:197px !important; }
.account_information p {padding-left: 30px;}
.custom_select .select p {
	width:85px;	height:23px;
	float:left;
	cursor:pointer;
	color: #2a2a2a;
	margin-bottom:0px !important;
	line-height:23px;
	font-family:Arial;	color:#000;	font-size: 12px;
	overflow:hidden;
	padding:0px !important;
}
.custom_select_l .select p { width:340px !important; }
.custom_select_210 .select p { width:186px !important; }
.custom_select .select .custom_drop_nav { 
	background:url(/static/img/custom_dropdown_arrow.png?version=2.4.1) 8px 8px no-repeat !important; 
	width:25px; 	height:23px; 
	display:block;	position:absolute;
	right:0px;	top:0px;
	padding:0px !important;
	border:none !important;
}
.custom_select select {
    width: 121px;    height: 23px;
    position: absolute;
    top: 0;    left: 0;
    border: 0;    outline: 0;
    font-size: 15px;
    cursor: pointer;
    background: none;
    opacity: 0;
	filter: alpha(opacity=0);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.custom_select_l select  { width:372px; }
.custom_select_210 select { width:218px !important; }




/***************************voucher popup***************************/
.popup_fade {
	background:#4b576f; 
    filter:0;
    -moz-opacity:0.7;    -khtml-opacity: 0.7;
    opacity: 0.7;	 	filter: alpha(opacity=70);  
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70); 
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=70)"; 
	zoom:1;    display: none;
    width: 100%;    height: 100%;
    position: absolute;    top: 0;    z-index: 2001;
   }
.voucher_popup, .payout_popup, .deposit_popup, .signup_popup, .forgotpassword_popup {
	width:450px;	height:auto;
	padding:5px;
	position:absolute;
	background:#fdfdfd;
	display: none;	z-index:9991;
	margin:0px 0px 0px -220px;	left:50%; top: 150px;
   -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.08);
   -moz-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.08);
   box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.08);
 }
.terms_services_popup, .home_terms_link {
	width:700px;	height:auto;
	padding:5px;
	position:absolute;
	background:#fdfdfd;
	display: none;	z-index:9991;
	margin:0px 0px 0px -350px;	left:50%; top: 510px;
   -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.08);
   -moz-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.08);
   box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.08);
 }
.home_terms_link { top: 100px !important; }
.popup_heading {
 	posiiton:relative;
 }
.close_btn {
	position:absolute;
	displplay:block;
	background: url(/static/img/close_btn.png?version=2.4.1) no-repeat 0px 0px;
	width:28px;
	height:29px;
	top:-14px;
	right:-11px;
	z-index: 99999;
	border:none;
	cursor:pointer;
	padding:0px;
} 
.payout_popup, .deposit_popup { top:19px; }
.popup_header_en {
    height:46px; line-height: 46px;
    padding:0px 14px 0px 10px;
    font-size: 30px; color:#FFFFFF; 
    background:#4b576e url(/static/img/fixido_logo_en.png?version=2.4.1) no-repeat 321px -232px;
}
.popup_header_sv {
    height:46px; line-height: 46px;
    padding:0px 14px 0px 10px;
    font-size: 30px; color:#FFFFFF; 
    background:#4b576e url(/static/img/fixido_logo_sv.png?version=2.4.1) no-repeat 321px -232px;
}
.popup_header_de {
	height:46px; line-height: 46px;
	padding:0px 14px 0px 10px;
	font-size: 30px; color:#FFFFFF; 
	background:#4b576e url(/static/img/fixido_logo_de.png?version=2.4.1) no-repeat 321px -232px;
}
.instructions {
	font-size: 22px; color:#4b576e; font-family: Helvetica;
	text-align: center;
	line-height:26px;
	padding:7px 0px 5px;
   -webkit-box-shadow: 0px 5px 5px rgba(0,0,0,0.08);
    -moz-box-shadow: 0px 5px 5px rgba(0,0,0,0.08);
    box-shadow: 0px 5px 5px rgba(0,0,0,0.08);
    border-bottom:1px solid #dadada;
}
.popup_content {
	padding:9px 14px 9px;
	border-bottom:1px solid #dadada;
   -webkit-box-shadow: 0px 5px 5px rgba(0,0,0,0.08);
    -moz-box-shadow: 0px 5px 5px rgba(0,0,0,0.08);
    box-shadow: 0px 5px 5px rgba(0,0,0,0.08);
}
.popup_content .row1 {
	background: url(/static/img/popup_divider.png?version=2.4.1) no-repeat center bottom;
	padding: 0px 0px 33px;	margin: 9px 0px 16px;
}
.popup_content .last {
	background:none;
	margin:0px; padding:5px 0 10px;
}
.popup_content .row1 input { margin: 0px 0px 0px 24px; }
.popup_content .no {
	width:15px; line-height:14px;
	margin:0px 8px 0px 0px;
	text-align:center;
	color: #fff;
	font-family:Arial; font-size:14px; font-weight: bold;
	background:#4b576e; display:block;
	border: 1px solid #5c677b; border-width:1px 0px;	
}
.popup_content label {	color:#000; font-size:14px; }
.popup_content  .last label{ width:372px; } 
.popup_footer {	padding:14px 0px 17px 0px; }
.popup_footer input[type="reset"] {	margin:0px 18px 0px 8px; }
.popup_content .row1 li { padding:0px 0px 8px; }
.popup_content .row1 ul { margin:0px 0px 0px 23px; padding:0px; }
.popup_content .row1 li.last { padding:0px; }
.popup_content .row1 li label, .payout_popup .popup_content .row2 li label {
	width:72px; color:#000; font-weight:bold;
	line-height: 26px;
}
.payout_popup .popup_content .row1 { padding:0px 0px 18px; }
.payout_popup .popup_content .row2 li label { width:142px; line-height:24px; }
.payout_popup .popup_content .row2 li span { color:#000; font-weight:bold; line-height:24px; width:87px; padding-right:9px; }
.payout_popup .popup_content .row2 li input { width:73px; height:16px; margin:0px 13px 0px 0px; }
.deposit_popup .row1 { padding:0px 0px 17px; }
.deposit_popup .row1 li { padding:0px;}
.deposit_popup .row1 li span, .deposit_popup .row1 li label { line-height:21px; }
.deposit_popup .row2 label { width:373px; }
.signup_popup, .forgotpassword_popup {
	width:360px; padding:13px 0px;
	display:none;
}
.popup_heading {
	padding:0px 17px 30px;
	height:48px;
}
.forgotpassword_popup .popup_heading {
	padding:0px 17px 0px !important;
}
.popup_heading span {
	font-size:12px; font-family:Arial; color:#000000; font-weight: bold;
	display:block; text-align:right; padding-bottom:4px; cursor:pointer;
}
.popup_heading .logo_en {
    width:173px; height:48px; 
    float:left;
    padding:0px; margin:0px;
    background: url(/static/img/fixido_logo_en.png?version=2.4.1) no-repeat 0px -140px;
}
.popup_heading .logo_sv {
    width:173px; height:48px; 
    float:left;
    padding:0px; margin:0px;
    background: url(/static/img/fixido_logo_sv.png?version=2.4.1) no-repeat 0px -140px;
}
.popup_heading .logo_de {
	width:173px; height:48px; 
	float:left;
	padding:0px; margin:0px;
	background: url(/static/img/fixido_logo_de.png?version=2.4.1) no-repeat 0px -140px;
}
.popup_heading .linkedin_signup {
	width: 130px; height:24px;
	float:left;
	background: url(/static/img/linkedin_logo.png?version=2.4.1) no-repeat;	
}
.deposit_invoice .fa-clipboard {
	color:#545454;
	font-size: 62px;
	display:block;
}
.account_invoice {
    padding: 10px 30px;
    font-size: 16px;
    color: black;
}
.deposit_invoice .account_invoice, .invoice_center{
    text-align: center;
}
.account_invoice .fa-check-circle{
    color: #39b54a;
    font-size: 21px;
}
.account_invoice .credit-limit{
    width: 308px;
    padding: 15px 0px;
    font-size: 26px;
    border:1px solid #e7e7e7;
    background-color: #f9f9f9;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}
.signup_popup .popup_contents, .forgotpassword_popup .popup_contents, .terms_services_popup .popup_contents {
	padding:0px 17px; position: relative;
}
.terms_services_popup .popup_contents {
	height:400px;
	overflow: auto;
}
.popup_contents input[type="text"], .popup_contents input[type="password"] {
	width: 317px;	height:23px;
	color: #a4a4a4;
	font-family:Arial; font-size:14px;
	margin-bottom:31px;
}
.reset_password_popup .popup_contents input[type="text"], .reset_password_popup .popup_contents input[type="password"] {
	margin-bottom:10px !important;
}
.btn {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  margin-bottom: 0;
  font-size: 15px;
  
  color: #fff;
  text-align: center;
  font-family:Arial;
  vertical-align: middle;
  cursor: pointer;
  background-color: #4889f0;
  background-image: -moz-linear-gradient(top, #4889f0, #4d90fc);
  background-image: -ms-linear-gradient(top, #4889f0, #4d90fc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4889f0), to(#4d90fc));
  background-image: -webkit-linear-gradient(top, #4889f0, #4d90fc);
  background-image: -o-linear-gradient(top, #4889f0, #4d90fc);
  background-image: linear-gradient(top, #4889f0, #4d90fc);
  background-repeat: repeat-x;
  outline: none;
  
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #3079ed;

}
.btn:hover {
	color:#fff;
}
.btns { padding:0px 0px 13px; }
.btns label { font-size:11px; font-family: Helvetica; color:#000; line-height:22px; }
.btns label a { color:#044476; }
.btns input [type="button"] { width:75px; line-height:22px; }
.btns .check { margin:4px 5px 0px; float:left; }
.btns .fl a { color:#000000 !important; line-height:22px; }
.error_fields {
	border:1px solid #df0024 !important;
	color:#df0024 !important;	
}
.error_msg {
	font-size:12px; color:#df0024 !important;
	display: block; margin:-19px 0 11px;
}
.max_pwd_error {
	color: #DF0024 !important;
    display: none;
    font-size: 12px;
    margin: 0px 0 0px 10px; 
} 
    
.popup_footers {
	border-top: 1px solid #bebebe;
	line-height:47px;	text-align:center;
   -webkit-box-shadow: 0px 5px 5px rgba(0,0,0,0.08);
    -moz-box-shadow: 0px 5px 5px rgba(0,0,0,0.08);
    box-shadow: 0px 5px 5px rgba(0,0,0,0.08);
	background:#f7f7f7;
}
.popup_footers span { font-size:10px; font-family:Arial; color:#000; }
.popup_footers a { font-size:24px; color:#559fd9; text-decoration:underline;}
.underline { text-decoration:underline; cursor: pointer; }

/**************** right_content_holder *******************/
.right_content_holder {
	margin:40px 0px 0px 0px;
	font-family:Arial;
}
.right_content_holder h2 {
	font-size:30px !important;
	color:#000 !important;
	border-bottom:1px solid #f2f2f2;
	padding:0px 0px 10px 28px;	margin:0px 0px 15px 0px;
} 
.right_content_holder p {
	font-size:12px !important;
	line-height:15px;
	color:#000 !important;
	padding:0px 0px 15px 28px;
} 
.help_you {  margin:10px 0px 0px 28px; }
.help_you_form {
	margin:10px 0px 50px 0px;
	width:454px;	
}
.help_you_inputfield, .help_textarea  {
	display:block !important;
	margin:0px 0px 13px 0px !important;
	padding:4px 8px !important;
	font-family:Arial !important;
	font-size:14px !important;
	color:#999 !important;
	margin:0px 0px 13px 0px !important;	padding:8px !important;
	font-family:Arial !important;	font-size:14px !important;	color:#999 !important;
	width:438px !important;
}
.help_textarea {
	height:55px !important;
	resize:none;
} 
.help_submit_btn {
	font-size:14px !important;
	height:22px;
	padding:0px 7px !important;
}
.help_submit_holder span {
	display:block;
	color:#999 !important;
	font-family:Arial !important;	font-size:12px !important;
	line-height:15px;
	margin:3px 5px 0px 0px;
}
.title_holder { margin:0px 0px 0px 28px; }
.title_holder code  {
	background: url(/static/img/about_us_img.png?version=2.4.1) 0px 0px no-repeat;	
	width:120px;	height:126px;
	display:block;
	border:none !important;	border-radius:0px !important;
}
.title_holder h3 {
	font-size:24px !important;
	margin:55px 0px 0px 0px;
}

.title_holder h3 b {
	display:block;
	font-size:15px !important;	font-weight: 600 !important;	
}
.aboutus_content h3 {
	margin:0px 0px 13px 28px;
	font-size:12px !important;	font-weight:bold !important;	color:#000 !important;
}
.popup_contents .aboutus_content h3 {
	margin:0px 0px 13px 0px !important;
}
.aboutus_content h3 i {
	display:block;
	font-weight:normal;
	line-height: normal;
}
.note_style{
	display:block;
	font-weight:normal;
	line-height: normal;
	padding:10px 0px 10px 28px;
}
.aboutus_content p { text-align:justify !important;}

/****warning popup*******/
.pop_up {
	width:382px;	height:auto;
	position:absolute; 	z-index:1200;
	background:#fdfdfd;
	display: none;
	margin:0px 0px 0px -216px; top:150px; left:50%;
   -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.08);
   -moz-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.08);
   box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.08);
   color: #000000;
}
.pop_up .heading {
	height:26px; padding-left:7px;
	background:#4b576e;
	border:1px solid #6f798b; border-width:1px 0px;
	font-family:Arial; font-size:18px; color:#FFFFFF; 
	line-height:26px;
}
.pop_up .content { 
	padding:10px 0px 15px 13px;
	position: relative;
	-webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
   box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);	
 } 
.pop_up .content .warning_img {
	width:68px; height:46px;
	background:url(/static/img/icons.png?version=2.4.1) no-repeat 0px -337px; 
}
.pop_up .content .msg {	width:298px;}
.pop_up .content .msg p, .pop_up .content .move_left p {
	font-family:Arial; font-size:12px; color:#000;
	text-align:center; line-height:18px; padding:0px; margin:0px;
}
.pop_up .content .move_left p { padding:27px 0px 0px; }
.pop_up .content .move_left { width: 230px; }
.pop_up .content .move_select_option { width:130px;}
.pop_up .popup_footer {
	padding: 10px 20px 12px 0px;
	background:#f7f7f7;
	border-top: 1px solid #bebebe;
}
.pop_up .content .move_select_option input[type=checkbox] {
    background:#5d5d5d;
    width:10px; height:12px;
    margin-right:5px;
}
.pop_up .content .move_select_option label {
	font-family: Helvetica; font-size:14px; color:#000000;
	line-height:18px;
}
.pop_up .content .move_select_option span { clear:both; }
.pop_up .content .move_select_option .addfolder {
	width:10px; height:15px; margin-right:5px;
	background:url(/static/img/add_folder.png?version=2.4.1) no-repeat center; 
}
.pop_up .content_middle .custom_select { margin:3px 0px 0px 10px;}
.pop_up .content_middle label {
	font-size:16px; line-height:30px; color:#000;
}
.pop_up .content_middle { padding:23px 0px 16px 53px; }
.pop_up .create_content h3 {
	font-family:Arial; font-size:18px; color:#000; padding-bottom:13px; font-weight: normal;
}
.pop_up .create_content textarea {
	width:332px; height:61px;
	border:1px solid #ddd9d9;
	padding:8px;
	color:#7f7f7f; font-size:14px;
}
.pop_up .rating_popup_content {
	text-align:center;
	padding:6px 82px 20px;
}
.pop_up .rating_popup_content input { width:20px; }
.report_popup p, .complaints_popup p { text-align:center; }
.pop_up .trans_pro_detail {	width:260px; }
.pop_up .trans_order_detail { width:90px; }
.transaction_popup h3 { font-size:21px; line-height:41px; }
.transaction_popup .trans_pro_detail span { width:144px; font-size:12px; font-family: Arial; line-height:24px; }
.transaction_popup .trans_pro_detail label { line-height:24px;}
.trans_order_detail span { font-size:12px; font-family:Arial; line-height:18px; color:#000; padding:0px 0px 8px; display:block; }
.trans_order_detail span b { display:block; }
.default_rating, .review_selected {
	width:8px; height:8px;
	display: block; float:left; margin-right:6px;
	background:url(/static/img/icons.png?version=2.4.1) no-repeat -14px -417px;
	cursor: pointer;
}

/****************joinus_popup********************/
.joinus_popup {
	width:818px;	height: 406px;
	padding:24px 30px 2px; 	margin:-203px 0px 0px -434px; top:160px; left:50%;
	position:absolute; 	z-index:1200;
	background:#fdfdfd;
	display: none;
   -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.08);
   -moz-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.08);
   box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.08);
   color: #000000;
}
.joinus_popup_header {	border-bottom:1px solid #f2f2f2; padding: 0px 0px 6px; }
.joinus_popup_header h2 {
	padding:0px; margin:0px;
	font-family: Gulim; font-size:21px; color:#000; font-weight:normal;
}
.joinus_popup_header span {
	font-size:14px; color:#000; 
}
.joinus_popup_title { width:368px; padding:73px 0px 0px; }
.joinus_popup_title h3 { font-family:Gulim; font-size:28px; color:#000; font-weight:normal; line-height:33px; text-align:center; }
.joinus_popup_title h3 span, .joinus_popup_title h3 b { font-size:48px; font-weight:bold; }
.joinus_popup_title h3 b { color:#559FD9;}
.joinus_popup_form { width: 448px; padding:4px 0px 0px; margin:0px 0px 18px 0px; }
.joinus_popup_form h4 {	font-size:16px; font-weight:normal; padding:0px 0px 7px 72px; }
.joinus_popup_form label { width:73px; font-size:12px !important; line-height:29px; font-weight:bold !important; }
.joinus_popup_form input, .joinus_popup_form textarea  { width:364px; border-radius:0px; margin-bottom:13px; height:16px; }
.joinus_popup_form .input_m { width:64px !important; }

.joinus_popup_form textarea { height:105px !important; }
.address_fields label { height:105px; }
.joinus_popup_form .small_input { width:151px; }
.joinus_popup_form .small_labels { width: 52px; text-align:center; }
.joinus_popup_form span { font-size:10px; line-height:18px;width:254px;}
.joinus_popup_form a { font-size:16px; width: 50px; }
.joinus_popup_step2 h3, .joinus_popup_step3 h3 { font-size:30px; line-height:38px; }
.joinus_popup_step2 h3 span, .joinus_popup_step2 h3 b { font-size:36px; }
.check_sameaddress input { width:20px; margin:0px 0px 0px 73px; height:auto !important; }
.check_sameaddress label { width:auto; font-size:12px; font-weight:normal; line-height:normal !important; margin:0px 0px 0px 0px !important; }
.upload_link label { 
	font-size:21px !important; 
	margin:42px 0px 0px !important; 
	display:block !important; 
	width:160px !important; 
	color: #559fd9 !important; 
	font-weight:normal !important; 
	cursor: pointer !important;
	overflow:hidden !important; 
	position:relative;
}
.upload_logo span { color:#a9a9a9; font-size: 12px; }
.joinus_popup_step3 textarea { width:437px; height: 100px; color:#cfcfcf; font-size:14px; }
.upload_link { width: auto; }
.upload {
    position:relative;
    width:auto;
}
.disabled_prev { display:none !important; }
.joinus_next, .step3 { width:50px !important; margin:0px 0px 0px 9px; }
.joinus_prev { width:70px !important; margin:0px 9px 0px 0px; display:none; }
.realupload {
     cursor: pointer;
    direction: ltr;
    font-size: 23px;
    margin: 0;
    filter:0;
    -moz-opacity:0;    -khtml-opacity: 0;
    opacity: 0;   filter: alpha(opacity=0);  
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0); 
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; 
 	zoom:1;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(-176px, 0px) scale(2);
    width:auto !important;
    height:30px;
    line-height: 30px;
    
}
form .fakeupload {
    background:none;
}
form .fakeupload input {
    width:201px;
    border: 0px;	box-shadow: none;	background: none;
    color:#a9a9a9; font-size: 12px;
}
.gry_out, .prof_dropdown ul li.gry_out a, .prof_dropdown ul li.gry_out:hover a, .profile_sidebar ul li.gry_out:hover, .profile_sidebar ul li.gry_out a, .funct_menu ul li.gry_out, .funct_menu ul li.gry_out:hover, .funct_menu ul li a.gry_out, .funct_menu ul li a.gry_out:hover { 
	color:#cdcdcd !important; 
	border-color:#cdcdcd !important;
	cursor: default !important; 
	background:none !important;
}
.gry_out.buy_now{
    background:#eeeeee !important;
}
.profile_sidebar ul li.gry_out:hover code {
    display: none !important;
}

.joinus_popup_form .secure_info_icon {
	background: url(/static/img/icons.png?version=2.4.1) no-repeat 4px -88px !important;
	width:24px;
	padding:0px !important;
	
} 
.secure_info_msg {
	height:35px; line-height:35px; font-size:11px; color:#000000; font-family: Arial; display:none;
}
.joinus_popup_form .secure_info_msg {
	 line-height: 22px !important; 
	 font-size:10px; 
	 color:#000000; 
	 font-family: Arial; 
	 display:none; 
	 width:auto !important;
	 position:absolute;
	 right:27px;
	 top:-16px;
	 height:auto !important;
}
.joinus_popup_form .validate {
	font-size: 15px !important;
    line-height: 24px !important;
    margin: 0 0 0 8px !important;
    width: 50px !important;
    text-decoration:none;
    display:none;
}
.secure_info_icon:hover + .secure_info_msg { display:block;}
.add_lead_step_wrapper .custom_input_s {
	padding:4px 50px 4px 4px;
	width:238px;
}
.invite_code_holder {
	position:relative;
}
.invite_code_holder .error_msg {
    float: left !important;
    line-height: 24px !important;
    margin: 0px !important;
    padding: 0 0 0 43px !important;
    font-style: normal;

}
/*********************Date picker*************************/
#ui-datepicker-div { width: 287px !important; }
.date_picker .ui-datepicker-trigger {
	position: absolute;
	right: 19px;	top: 10px;
}
.header_login .span3 form { color:#DF0024; }
/********************design_issues********************/
.profile_details_content .fields_holder {
	margin-top:22px;
}
#video_player {
	height: 374px;
	width: 662px;
	background-color: black;
	overflow: hidden;
}

/******************country auto list********************/
#country_auto_complete .location_holder { 
 position:relative; 
 border:1px solid #949ba8; 
  -webkit-border-radius: 2px !important;
    -moz-border-radius: 2px !important;
    border-radius: 2px !important;
}
#country_auto_complete .location {
 width:135px;
 margin:0px !important;
  -webkit-border-radius: 1px !important;
    -moz-border-radius: 1px !important;
    border-radius: 1px !important;
    height:20px !important;
    line-height:20px !important; 
    border:none !important;
} 
#country_auto_complete .location_add{
 height:21px; width:45px;
 right:0px; top:-1px;
 background:#559fd9;
 position:absolute;
  -webkit-border-radius: 0px 1px 1px 0px !important;
    -moz-border-radius: 0px 1px 1px 0px !important;
    border-radius: 0px 1px 1px 0px !important;
    border:1px solid #367ded;
    font-family: Arial;    font-weight:bold;    font-size:10px;
    color:#fff;
    line-height: 21px;
    text-align:center;
    cursor:pointer;
}
#country_auto_complete .location_filter span  {
 font-family:Arial; font-size:12px;
 color:#000;
 display:block;
 float:left;
 margin:0px 10px 0px 0px;
}
#country_auto_complete .location_display_holder { display:none; margin:10px 0px 10px 0px !important;}
#country_auto_complete .location_filter b {
 font-family:Arial; font-size:10px; font-weight:bold !important;
 color:#000;
 margin:0px 5px 0px 0px;
 cursor:pointer;
}
#country_auto_complete .location_holder ul, .ui-autocomplete {
 position:absolute;
 top:21px; left:-1px;
 width:100% ;
 border:1px solid #367ded;
 margin:0px !important;
 display:none;
 background:#fff;
}
.ui-autocomplete {width:183px !important; background:#fff !important; overflow-y:scroll; max-height:200px; height:auto;}
#country_auto_complete .location_holder ul li, #country_auto_complete .ui-autocomplete li {
 line-height: 22px;
 padding:0px 0px 0px 5px;
 cursor:pointer;
}
#country_auto_complete .location_holder ul li:hover, .ui-autocomplete li:hover a {
 background:#006CB3 !important;
 color:#fff !important;
}

.password_reset_act {
	width:818px;	height:auto;
	padding:24px 30px 2px; 	margin:0px 0px 0px -434px; top:160px; left:50%;
	position:absolute; 	z-index:1200;
	background:#fdfdfd;
	display: none;
   -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.08);
   -moz-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.08);
   box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.08);
   color: #000000;
}
.forget_password_content {
	font-familt:Arial;
	color:#000;
	width:346px;
}
.forget_password_content p {
	font-size:12px;
	color:#000;
	line-height: 18px;
	margin:0px !important;
} 
.errorlist {
	list-style:none;
	margin:0px;
	padding:0px;
	font-family:Arial;
	color:#DF0024;
	padding:3px 0px 0px 5px;
}
.forget_password_content label {
	color:#4e4e4e;
	font-weight:bold;
	font-size:14px;
	line-height: 22px;
}
.forget_password_content input {display:block;}
.popup_logo {margin:10px 0px 10px 10px;}
.ui-tabs .ui-tabs-hide {
	display: none !important;
}
.inputError, .selectError {
	background:#ffdddd !important;
	border:1px solid !important;
	border-color:#DD4B39 !important;
}

.privacy_policy_content { font-family: Arial; }
.order_details table {
	width:100%;
}


.reset_password_popup p {
	text-align:center;
}
.red_btn {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom:1;
  margin-bottom: 0;
  font-size: 15px;
  line-height: 22px;
  *line-height: 24px;
  color: #fff;
  text-align: center;
  font-family:Arial;
  vertical-align: middle;
  cursor: pointer;
  background-color: #d34836;
  background-image: -moz-linear-gradient(top, #d34836, #d94a38);
  background-image: -ms-linear-gradient(top, #d34836, #d94a38);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d34836), to(#d94a38));
  background-image: -webkit-linear-gradient(top, #d34836, #d94a38);
  background-image: -o-linear-gradient(top, #d34836, #d94a38);
  background-image: linear-gradient(top, #d34836, #d94a38);
  background-repeat: repeat-x;
  
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #c2301d;
}


.succes_message .btn {
	width:60px;
}
.succes_message .msg p {
	font-size:21px !important;
	line-height: 28px !important;
}
.succes_message .msg {
	width:355px !important;
}
.transaction_popup {
	display:none;
}

/******************** error page ***********************/

.error_wrapper {
	width:960px;
	margin:0px auto;
}
.error_logo {
	background: url("/static/img/error_logo.png?version=2.4.1") no-repeat;
	width:116px;
	height:114px;
	margin:0px ; 
}
.desc_proRegion pre {
	background:none;
	border: medium none;
    color: #000000;
    font-family: Arial;
    font-size: 14px;
    line-height: 28px;
    padding:0px;
}
.prod_gen_info {
	position: relative;
	z-index: 9992;
}
.prod_gen_info h2 {
	font-family: Arial;
    font-size: 21px;
    line-height: 47px;
    border-top:1px solid #e9e9e9;
    border-bottom:1px solid #e9e9e9;
    position:relative;   
}
.prod_gen_info h2 code {
	position:absolute;
	border-radius:0px;
	border:none;
	display:block;
	width:28px;
	height:17px;
	background: url("/static/img/down_arrow.png?version=2.4.1") no-repeat;
	bottom:-18px;
	left:50%;
	margin-left:-14px;
}
/********Activate_popup**********/
.activate_popup {
 	width:600px; 
 	/*height:220px;*/
 	height:auto;
 	padding:20px;
 	margin:-110px 0px 0px -300px;
 	top:50%; left:50%;
 	position:absolute;
 	background:#fdfdfd;
 	z-index:9991;
}
.resend_submit_btn {
 	display: inline;
 	background: none;
 	border: none;
 	margin: -3px 0px 0px 0px;
 	font-weight: bold;
 	color: white;
 	text-decoration: underline; 
}
.email_confirmation_msg b {
 	margin-bottom: 30px; border-bottom: 1px solid #999;
 	display: block;
 	font-size:14px; font-size:Arial;
}
.email_confirmation_msg .btn {
 	margin:30px 1px 0px 0px;
 	padding:3px 26px; 
}
.email_success_message {
	text-align:center;
	left:320px !important;
}


/****deposit*****/
.popup_content .payout_information { padding: 0px 0px 10px 0px !important; }
.payout_information { padding: 20px 0px 13px 30px; }
#payment_details { width: 460px; }
.deposit_right_col  #bankaccount {
	width:513px !important;
}
#payment_details .small, .get_datas, #bankaccount .small, #invoice .small {
	width: 100px;
	line-height: 28px;
	height:28px;
	border:1px solid #d4d4d4;
	background: #fff;
	margin: 0px 7px 0px 0px;
	float:left;
	font-size:12px; font-family:Arial;
}
.get_datas { border:none; margin-left: 10px; width:92px !important; line-height:24px; height:24px; }
.curent_payout_amount, .disabledinput  {
    border: 1px solid #FFFFFF !important;
    background: #FFFFFF !important;
    cursor:text !important;
    box-shadow:none !important;
}
.input_disabled {
    cursor:text !important; 
}
.amout_error { color:#df0024 !important; display:none; }
.profile_input_date { width:198px !important; }

.edit_reqlead_link { display:none;}

input.countdowntext {
    width:28px !important; margin:0px !important; padding: 0px !important; line-height:15px !important;
    color: #999 !important; font-family: Arial !important; font-size: 11px !important; font-weight:bold;
}
#payment_details .large, #bankaccount .large, #invoice.large {
	width: 172px;
	line-height: 21px;
	border:1px solid #d4d4d4;
	background: #fff;
	margin: 0px 7px 0px 0px;
}
#payment_details select, #bankaccount select, #invoice select {
    width:85px;
}
#payment_details .errorlist, #bankaccount .errorlist, #invoice .errorlist {
    position:absolute;
    left: 588px;
}
.payout_information h3 { padding-bottom: 14px; }
#payment_details label.eur { color: #9f9f9f; width: 40px; }
#payment_details label.eur b { color: #000000; }
.payout_information { padding:0px 0px 13px 30px !important; }
.payout_information .btn { margin: 10px 12px 0px 0px; }
#pagination_filter {
	margin:21px auto 0px auto !important;
	float: none !important;
}

/********browse_button*******/
.upload_holder {
 	width:181px;
}
.filebrowse_btn { position:relative;  margin:35px 0px 10px 0px; }
.filebrowse_btn #id_docfile {
    bottom: 0;
    height: 26px;
    left: 0;
    opacity: 0;
    position: absolute;
	top:0px;
	width:100%;
    z-index:1000;
}
.filebrowse_btn span {
	 font-family:Arial !important;
	 font-size:21px !important;
	 color:#559fd9 !important;
	 margin:0px 0px 0px 0px !important;
}
.upload_link .btn {
	 width:auto !important;
	 height:auto !important;
	 display:block !important;
	 margin:10px 0px 10px 0px !important;
}
.lead_pagination a {float:none !important;}
.deposit_link {
	display: block;
	font-size: 14px;	font-weight: bold;
	padding-left: 21px;
}
.lead_count_modified { margin-top:40px !important;}
.chk_delete_btn { font-size:13px !important; line-height:18px !important; margin-right:31px; }
.lead_count_no{ margin: -3px 0px 0px 145px; }
.cont_shop_redirection {padding: 0px 10px;}
.payment_details li span.select_transaction{color:red; display:none; font-size: 15px !important;}
.lang_seperator { background: url("/static/img/lang_seperator.png?version=2.4.1") no-repeat; width:20px; height:43px; }
.sn_login_holder {
    margin: 0 0 0 9px;
}
.validated_msg {
	color: red;
	display: inline-block;
	float: right;
	padding: 0px;
}
.custom_select_value_act { text-transform:capitalize; }
.error_publish_msg {color: red; margin:10px 0px 0px; text-align:center; display:none;}

/***lead word wrap in description***/
.desc_proRegion pre {
  word-break: normal !important;	
}
.desc_proRegion  {
	margin:15px 0px 0px 0px;
	min-height:290px;
}
.choose_language {
	color:#000;
	font-size: 12px; font-family:Arial;
	margin-bottom:4px;
}







.zero_balance {
	color:#d74837 !important;
}
.voucher_error_msg {
	margin:5px 0px 0px 10px !important;
}
.popup_content #payment_details label i {
	font-style:normal;
	font-weight:normal;
}
.popup_content #payment_details label i b {
	font-size:12px;
}
.popup_content #payment_details label {
	margin-bottom:15px !important;
	width:260px;
	font-size:14px !important;
}

.popup_content .payout_information span {
	font-size:17px;
	font-family: Arial;
	color:#000;
	text-align:center;
	line-height: 22px;
	display: block;
	padding:0px 0px 15px 0px;
}
.popup_content .payout_information .btn {
	margin:0px 43px 0px 0px !important;
	height:42px!important;
	width:191px !important;
	font-family:Arial;
	font-size:23px;
}
.popup_content #payment_details {
	margin:0px !important;
	padding:0px !important;
	width:auto !important;
	line-height: 18px;
}
.popup_content #payment_details .small, .get_datas {
	font-size:14px;
}
.popup_content .payout_information .contact_no_block span {
	color:#4b576e !important;
	font-style:italic;
	font-size:15px;
	text-align:left;
}
.popup_content .contact_no_block {
     padding: 20px 0 0 65px;
     margin:10px 0px 0px 0px;
}
.popup_footer p {
	text-align:center;
	padding:0px 44px;
	font-size:13px;
	font-family:Arial;
	color:#000;
	line-height: 18px;
}
.popup_footer p b {
	font-weight:normal;
	font-size:14px !important;
	line-height: 28px;
}
.submit_nostyle { border:none; background:none; font-size: 14px; color: #559fd9; padding: 0px 0px; margin: 0px 0px 0px; outline: none; }
.box_shadow_top {
	-webkit-box-shadow: 0px -5px 5px rgba(0,0,0,0.08);
    -moz-box-shadow: 0px -5px 5px rgba(0,0,0,0.08);
    box-shadow: 0px -5px 5px rgba(0,0,0,0.08);
} 
#invitecode_state { padding-left:10px; color:#DF0024 !important;}
#invitecode_state b { color: #41c83e !important;}
.error_sold{
	position: absolute;	
	top: -16px;
	font-size: 14px;
	font-weight: bold;
	color: #df0024 !important;	
}

.empty_list {
	width:846px;
	-webkit-box-shadow: inset 0px 0px 8px rgba(0,0,0,0.08);
    -moz-box-shadow: inset 0px 0px 8px rgba(0,0,0,0.08);
    box-shadow: inset 0px 0px 8px rgba(0,0,0,0.08);
    margin:20px 0px 0px 0px;
    padding:20px 0px 20px 0px;	
}
.empty_list h2 {
	margin:0px auto 20px auto; 
	width:auto;
	text-align:center;
	padding:0px !important;
	border:none !important;
}
.empty_list .btn {
	padding:5px 20px;
	text-align:center;
	position:relative;
	font-size:20px;
	left:50%;
}

/*****Url Generator wrapper*****/
.email_ifo_col1 { padding: 12px 0px 0px 15px; }
.genrated_url_popup { width: 700px; margin-left:-350px;}
.genrated_url_popup textarea { 
	width: 620px;
	margin: 31px 20px;
	min-height: 150px;
	padding: 10px; 
}
.campagin_search table tr .colss3 { width: 150px; }
.lead_value_counter span {
	font-family:Arial;
	font-size:23px;
	font-weight:normal;
	color:#fff;
	display:block;
	margin:17px 0px 0px 0px;
	text-align: center;
}


.lead_value_counter span b {
	background:#424c5f;
	line-height:35px;
	font-family:Arial;
	font-size:24px;
	font-weight:normal;
	padding:5px 10px;
}
.lead_value_counter span i {
	font-style: normal;
}
.search_inner_holder form {
	margin:11px 0px 10px 0px;
}

.inp_withoutstyle {
	border: none !important;
	background: none !important;
	box-shadow: 0px 0px 0px !important;
}

.lead_countdown img { margin:14px 0px 0px; }
.btn_separator { width: 40px; }
.btn_separator .line {background: #b7b7b7; width: 1px; height:27px; margin:0px auto;}
.btn_separator span {display:block; font-size: 18px; color: #b7b7b7; text-align:center;}
.addtobasket_btn { 
	width: 66px;	height: 76px;
	font-size: 18px; line-height: 22px; background: #559fd9;
	color: #FFFFFF;
	border:1px solid #367ded;
}
.addtobasket_btn:hover { background: #458ec7 }
.buynow_wrapper { width: 210px; }
.buynow_wrapper form, .filter_buy form { margin: 0px; padding: 0px; }
.buynow_wrapper span, span.divide {
	font-size: 16px;	font-family: Arial, Helvetica, sans-serif;
	color: #b3b3b3;
	display:block; padding:11px 0px 0px;	
}
.buy_now {
	font-size: 18px;
	line-height: 30px;
	padding: 0px;
	width: 152px;
	margin: 22px 0px 0px;
}
.add_to_basket {
	padding:11px 0px 0px 10px;
	font-size: 16px;	font-family: Arial, Helvetica, sans-serif;
	color: #559fd9;
	text-decoration:underline;
	border: none !important;
	background: none !important;
	box-shadow: 0px 0px 0px !important;	
	outline: none;
}
.price_buy .buy_now { margin: 10px 0px 0px; }
a.readymore {
	margin: 0px 0px 0px;
	display: block;	
}

.error_msg_bad {
	font-size:14px; color:#df0024 !important;
	display: block; margin:-19px 0 11px;
	position :absolute;
	left:384px;
	top:720px;
}
.pdf_icon, .csv_icon { width:16px; height: 16px; display:block; background: url(/static/img/PDF.png?version=2.4.1) no-repeat; margin-right: 8px; }
.csv_icon {background: url(/static/img/Excel.png?version=2.4.1) no-repeat; margin-right: 0px;}

.add_remove_pos {
	position:absolute;
	top:5px;
	right:5px;
}
#id_new_password1 { color: #a4a4a4; }


.position { position:relative; background:#fff;}



.account_general_header p {
	font-family:Arial;
	font-size:14px;
	color:#000;
	line-height:20px;
	padding:10px 0px 0px 30px;
}
.payment_block {
    width:492px;
    margin:0px 0px 27px 22px;
    border:2px solid #559FD9;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding:15px;
}
.payment_block #payment_details label, .payment_block #bankaccount label, .payment_block #invoice label {
    font-size:14px !important;
}
.deposit_note {
    margin:10px 0px 0px 0px !important;
    display: block;
    font-size:14px;
    font-family:Arial;
}
.paypal_en {
    background: url(/static/img/secure_payment_english.jpg?version=2.4.1) 0px 0px no-repeat; border:none;
    width:192px;
    height:52px;
    display:block;
    padding:0px;
    margin:25px 0px 0px 0px;
}
.paypal_sv {
    background: url(/static/img/secure_payment_swedish.jpg?version=2.4.1) 0px 0px no-repeat; border:none;
    width:192px;
    height:52px;
    display:block;
    padding:0px;
    margin:25px 0px 0px 0px;
}
.paypal_de {
    background: url(/static/img/secure_payment_german.jpg?version=2.4.1) 0px 0px no-repeat; border:none;
    width:192px;
    height:52px;
    display:block;
    padding:0px;
    margin:25px 0px 0px 0px;
}
.paypal_btn {
    width: 191px !important;
    height: 30px;
    margin: 35px 0px 0px 0px;
    border:none !important;
    font-size:23px;
}
.payment_block h3 {
    margin-bottom: 14px !important;
    margin-top:0px;
    line-height: 27px;
    font-weight:bold;
}
#payment_details label { width: 305px; }
#bankaccount label { width: 200px; }
#invoice label { width: 238px; }
#payment_details label, #bankaccount label, #invoice label {
    line-height: 26px;
    font-size:14px;
    font-family: Arial;
    color: #000;
    float: left;
    margin-bottom:20px;
}
.signup_bonus_text {
    margin:0px 0px 0px 37px;
    width:470px;
}
.signup_bonus_text p {
    font-size:14px; font-family:Arial;  color: #000;
    line-height: 20px;
    padding:0px;
    margin:0px;
} 

.account_details_content .callus_block{
	border:none !important;
	left: 37px;
	width:448px;
	margin:20px 0px 40px 0px;
}
.callus_block_bg {
	background-image: -moz-linear-gradient(center top , #f6f6f6, #fcfcfc);
    background-repeat: repeat-x;
    width:100%;
    height:119px;
    position:absolute;
    top:0px;
    zoom:1;
	filter: alpha(opacity=40);
	opacity: 0.4;
}
.call_us_holder { 	position:absolute; top:0px;}
.callus_block_desc {
	width:342px;
	padding:15px 25px 0px 30px;
}
.callus_block_desc p {
	font-family: Arial;
	font-size:14px;
	color:#000;	
	line-height:20px;
} 
.contact_no_block{
	background: url("/static/img/contact_img.png?version=2.4.1") 0px 0px no-repeat;
	height:84px;
	padding:35px 0px 0px 70px;
}
.account_details_content .contact_no_block{
    margin: 0 0 0 30px;
    width: 350px;
}
  
.contact_no_block span {
	font-family:Arial;
	font-size:19px;
	color:#4b576e;
	display:block;
	padding:0px 0px 10px 0px;
}
.contact_no_block h3 {
    font-family:Arial;
    font-size:22px;
    color:#4b576e;
    margin-left: 0px !important;
    margin-top:0px;
}
.account_details_content .top_bottom_shadow {
	box-shadow: 0 1px 37px -24px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 1px 37px -24px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 1px 25px -9px rgba(0, 0, 0, 0.5) !important;
	height: 120px;
    left: 8px;
    position: absolute;
    top: -1px;
    width: 429px;
}
.account_details_content .call_us_holder {
	background:#FFFFFF;
    width: 448px;
}
.deposit_popup {
	width:874px !important; 
	top:19px;
	margin-left:-432px !important; 
}
.deposit_left_col {
    width:261px;
	padding:52px 0px 0px 10px;
    background:#f9f9f9;
    border-right:1px solid #cccccc;
}
.payout_information .payment_block .btn { margin: 35px 0px 0px 0px !important; }
.popup_content .payment_block #payment_details label {
	width:305px !important;
}
.popup_content .payment_block #payment_details label.eur {
	width:40px !important;
}
.deposit_left_col .callus_block {
    width:auto !important;
    border:none !important;
    margin:0px 10px 0px 0px !important;
}
.deposit_left_col .contact_no_block h3 {
	font-size:21px !important;
	
}
.popup_content .signup_bonus_text {
	width:auto !important;
	margin:0px !important;
}
.deposit_left_col p {
	font-size:14px;
	font-family:Arial;
	color:#000;
	line-height: 20px;
	padding:0px 10px 0px 0px;
	margin:0px 0px 9px 0px;
}
.deposit_left_col h3 {
	font-size:14px;
    font-family:Arial;
    color:#4b576e;
    padding-bottom: 10px;
}
.popup_content .payment_block {
	margin: 0 0 27px 10px !important;
	padding:15px !important;
}
/*.popup_content #payment_details .small, .popup_content .get_datas {
	width:54px !important;
}*/
.popup_content .payout_information .deposit_left_col  .contact_no_block span {
	padding:10px 0px 0px 0px !important;
	color:#545454;
    font-size:15px;
}
.fixido_guarantee_popup_hdr {
    margin-left: 15px !important;
    font-weight:bold;
}
.fixido_guarantee_popup ul {
    margin:0px;
    padding:0px;
    width:191px;
}
.fixido_guarantee_popup {
    margin: 0px 0px 12px 15px;
}
.fixido_guarantee_popup ul li {
    padding:0px 0px 0px 30px;
    margin:0px;
    min-height:35px;
    font-size:14px; font-family:Arial;  color: #545454;
    background:url("/static/img/gray_tick.png?version=2.4.1") 0px 3px no-repeat !important;
    line-height: 28px;
    list-style: none;
}
.deposit_left_col .fixido_guarantee_popup ul li{
	line-height: 20px;
}
.popup_content .deposit_left_col .contact_no_block {
    margin:0px 10px !important;
    background:none;
    padding:5px 0px 0px 0px;
    border-top:1px solid #e5e2e2;
}
.tab_sell_leads, .tab_request_leads, .tab_buy_leads{
	height:815px;	
}

.depsoit_popup_header_en {
     background: url("/static/img/fixido_logo_en.png?version=2.4.1") 745px -232px #4B576E no-repeat !important;
     font-size:18px !important;
}
.depsoit_popup_header_sv {
     background: url("/static/img/fixido_logo_sv.png?version=2.4.1") 745px -232px #4B576E no-repeat !important;
     font-size:18px !important;
}
.depsoit_popup_header_de {
	 background: url("/static/img/fixido_logo_de.png?version=2.4.1") 745px -232px #4B576E no-repeat !important;
     font-size:18px !important;
}
.email_campagin_content {
	margin: 25px 0px 0px;
}
.link_blue, .btns .fl a.link_blue {
	color:#559fd9 !important; 
}

.forget_password_content form { margin:0px !important; }
.forget_password_content form .btn {
   line-height: normal !important;
  *line-height: normal !important;
  display: inline !important;
  padding:5px 10px 5px 10px !important;
}  
#change_password_form .btn { padding:0px 10px 0px 10px !important; }
.login_aec form {
	border:3px solid #559fd9 !important;
	padding-bottom: 10px;
}
.udrln-pntr{
	text-decoration: underline;
	cursor: pointer;
}
#popup_joinus_form {
    width: 290px;
    margin: 0px auto 18px auto;
}
.blue_text{
	color:#559FD9 !important;
}
.row_description p a .blue_text, .row_description p a:hover .blue_text{
	font-style:normal;
	text-decoration:underline !important;
}

.etabs { margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; float:left; }
.tab { cursor: pointer; color:#559fd9; float:left; font-family: Arial; background: #fafafa; padding:0px 0px 0px 0px !important; width:253px; height:60px; text-align:center; border: solid 1px #f5f5f5; border-bottom: none;}
.tab a { color:#559fd9; font-size: 15px; display: block; padding: 21px; outline: none; }
.tab a.active { color:#000; font-weight: bold; }
.tab a:hover { text-decoration: none; color:#559fd9; }
.tab a:focus{text-decoration:none !important;}
.tab.active { cursor: default; background: #fff; position: relative; top: 1px; border-color: #eeeeee; color:#000; }
.tab.active a:hover { cursor: default; color:#000; }
.tab-container .panel-container { background: #fff; border: solid #666 1px; padding: 10px; -moz-border-radius: 0 4px 4px 4px; -webkit-border-radius: 0 4px 4px 4px; }
.deposittab_holder  {
    padding:45px 0px 0px 20px;
    border-left:1px solid #ededed;
    border-right:1px solid #ededed;
    border-bottom:1px solid #ededed;
    width:743px !important;
}

.deposit_left_col .etabs{
	width:auto !important;
	float:none !important;
	margin:0px 0px 67px 0px;
}
.deposit_left_col ul li.tab {
	background: #fafafa !important;
	padding:0px !important;
	float: none !important;
	width:auto;
	text-align:left !important;
	line-height:20px;
	height:48px;
	border-bottom:1px solid #e5e2e2;
	border-top:none;
	border-left:none;
	border-right:none;
	list-style: none;
}
.deposit_left_col ul li.tab.active { 
	background:#fff !important; 
	width:251px !important; 
	border-bottom:1px solid #e5e2e2 !important;
	border-top:none!important;
	border-left:1px solid #e5e2e2 !important;
	border-right:none !important;
}

.deposit_left_col ul li.tab_first { 
    border-top:1px solid #e5e2e2 !important;
}    
.deposit_left_col ul li.tab_first.active { 
	background:#fff !important; 
	width:251px !important; 
	border-bottom:1px solid #e5e2e2 !important;
	border-top:1px solid #e5e2e2 !important;
	border-left:1px solid #e5e2e2 !important;
	border-right:none !important;
}
.deposit_left_col ul li.tab a {
	padding:14px 12px;
	position:relative;
}

.fa-chevron-right {
	position:absolute;
	top:17px;
	right:10px;
	color:#c7c7c7;
}
.deposit_left_col ul li.tab.active a .fa-chevron-right{
	color:#000 !important;
}
.deposit_container {
    margin:0px 0px 0px 30px;
}
.deposit_container .account_general_header span {
    padding-left:0px !important;
}

.deposit_container .account_general_header p, .payment_block p{
    padding-left:0px !important;
}  
.payment_block {
    margin-left:0px !important;
}
.bank_logo {
    width:203px;
    height:76px;
    background: url("/static/img/bank_logo.png?version=2.4.1") 0px 0px no-repeat;
}
#invoice .paypal_btn {
    margin:20px 0px 0px 0px;
}
.invoice_submit{
    padding:0px 0px 44px 0px;
}
.invoice_submit h3 {
    text-align:center;
    font-family:arial;
    font-size:21px;
    color:#000;
    padding:0px 0px 18px 0px;
}
.invoice_submit span {
    text-align:center;
    display:block;
    font-family:arial;
    font-size:16px;
    color:#ed1c24;
}
#bankaccount .account_general_header p, #invoice .account_general_header p {
    line-height: 30px;
}
.account_general_header p, .payment_block #bankaccount .account_general_header p {
	 line-height: 24px !important;
	 padding:0px !important;
}

.fgray{ color: #545454; }
.depo-hint{
    margin: -10px 0px 10px 0px;
    font-style: italic;
    font-size: 13px;
}
.depo-hint b{ color: #ef4c13; }
.deposit_invoice {
	padding:130px 0px 0px 0px;
}

.deposit_invoice span i {
	color:#545454;
	font-size: 72px;
	display:block;	
}

.deposit_invoice h3, .deposit_invoice p {
	font-size:16px;
	text-align:center;
	color:#000;
	padding:0px;
	margin:0px;
}
.deposit_invoice p {
	font-size:14px;
	padding:15px 0px 0px 0px;
	line-height: 24px;
}
.deposit_popup .callus_block {
    height: 110px;
}
.deposit_right_col {
	width:585px;
	padding:0px 0px 0px 25px;
	position:absolute;
	right:19px;
	top:74px
}
.deposit_right_col .payment_block {
	margin:0px 0px 10px 0px !important;
}

.deposit_right_col span {
	font-size: 16px !important;
	text-align:left !important;
	color:#000 !important;
}
.deposit_left_col .callus_block .call_us_holder {
	position:relative !important;
}
.deposit_left_col .contact_no_block h3 {
    font-size:21px !important;
    color:#545454 !important;
    
}
.popup_content .signup_bonus_text {
    width:auto !important;
    margin:0px !important;  
}
.deposit_invoice span {
	display:block;
	text-align:center !important;
}
.deposit_popup .popup_content{
    padding: 0px;
	height: 590px;
	box-shadow: none;
	border-bottom:none;
}
input[type="submit"][disabled], input[type="submit"][disabled]:hover {
	background-color: #e6e6e6 !important;
	border: 1px solid #e9e9e9 !important;
	background-image: none;
	opacity: 0.65;
	filter: alpha(opacity=65);
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;	
}
.disabled, .input_disabled {
	cursor:text !important;
	filter:0;
    -moz-opacity:0.5;    -khtml-opacity: 0.5;
    opacity: 0.5;	 	filter: alpha(opacity=50);  
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50); 
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=50)"; 
	zoom: 1;
	cursor: text !important;
}

.verified_lead{
    width: 94px;
    height: 77px;
    position: absolute;
    right: -20px;
    top: 62px;
}
.lead_details_popup .verified_lead{
	
} 
.v3_verified_lead {
    height: 77px;
    position: absolute;
    right: 15px;
    top: 116px;
    width: 94px;
}
.verified_lead:hover label{
    display: block;
}
.phone_verified_en{
    background: url("/static/img/verified_phone_en.png?version=2.4.1") no-repeat;
}
.phone_verified_sv{
    background: url("/static/img/verified_phone_sv.png?version=2.4.1") no-repeat;
}
.phone_verified_de{
    background: url("/static/img/verified_phone_de.png?version=2.4.1") no-repeat;
}
.email_verified_en{
    background: url("/static/img/verified_email_en.png?version=2.4.1") no-repeat;
}
.email_verified_sv{
    background: url("/static/img/verified_email_sv.png?version=2.4.1") no-repeat;
}
.email_verified_de{
    background: url("/static/img/verified_email_de.png?version=2.4.1") no-repeat;
}
.verified_lead_aec {
    height: 77px;
    position: relative;
    right: -20px;
    top: 119px;
    width: 94px;
}
@media (max-width: 767px) {
    .verified_lead_mob{
        height: 77px;
        position: absolute;
        right: 10px;
        top: 115px;
        width: 94px;
    }
}

/* ask_question styles */

.lead_details_popup .ask_more{
	background: none repeat scroll 0 0 #f0f0f0;
	border: 1px solid #e8e8e8;
	float: left;
	font-size: 14px;
	line-height: 21px;
	margin-left: 0;
	padding: 13px 20px 12px;
	width: 250px;
	position: absolute;
	z-index: 9992;
	margin-top: 15px;	
}
.shadow_bg{
	background: url("/static/img/ask_more_shadow.png?version=2.4.1") no-repeat scroll 0 0 ;	
	bottom: -20px;
    height: 20px;
    left: 0;
    position: absolute;
    width: 20px;
}
.ask_more i{
	color: #559fd9;
	font-size: 16px;
}
.ask_more a{
	color: #559fd9;
	font-size: 16px;
}
.ask_more a:hover{
	text-decoration:underline;
	color:#559fd9;
}
.lead_details_popup .money_back_guarantee {
  height: 83px;
  position: absolute;
  right: -123px;
  top: -5px;
  width: 93px;    
}
.lead_details_popup .price_buy_info{
	position: relative;
}
.m_money_back_en{
    background: url("/static/img/m_money_back_en.png?version=2.4.1") no-repeat scroll 0 0 ;
}
.m_money_back_sv{
    background: url("/static/img/m_money_back_sv.png?version=2.4.1") no-repeat scroll 0 0 ;
}
.m_money_back_de{
    background: url("/static/img/m_money_back_de.png?version=2.4.1") no-repeat scroll 0 0 ;
}
.row_description p a, .row_description p a:hover {
  	color: #000000;
	cursor: pointer;
	display: block;
	line-height: 18px;
	padding: 10px 10px 10px 0;
	text-decoration: none;
}
/*.nec_container .campagin_search table tbody tr:hover td.no_link_buy:hover{
	background: #fff;
}*/
