
{% load static from staticfiles %}




{% block header %}
<link rel="stylesheet" href="{% static "css/jquery-ui.css" %}">
<link rel="stylesheet" href="{% static "css/jquery.ui.datepicker.css" %}">
<link rel="stylesheet" href="{% static "admin/css/base.css" %}?version={{version}}" >
<link rel="stylesheet" href="{% static "admin/css/changelists.css" %}?version={{version}}" >
{% endblock %}


{% block content %}
<div id="container">
<div id="header">
<div id="branding">
<h1 id="site-name">
{%if request.user.is_superuser%}
Admin atttendance list creation 
{% else %}
Staff atttendance list creation 
{% endif %}
</h1>
</div>
<div id="user-tools">
Welcome,
<strong>admin</strong>
.
<a href="/admin/doc/">Documentation</a>
/
<a href="/admin/password_change/">Change password</a>
/
<a href="/admin/logout/">Log out</a>
</div>
</div>
<div class="container bottom-space">
  {% if not is_popup %}
  {% block breadcrumbs %}
  <div class="breadcrumbs">
  <a href="/admin/">Home</a>
  
  &rsaquo; Create Attendance list
  </div>
  {% endblock %}
  {% endif %}

    <!-- <form method="POST" action='{{ request.path }}' class="report-filter" id="custom_filter">
        {% csrf_token %}
        <label class="need-space" for='search_actor'>Search</label>
        <input class="span6 need-space" type="Search" name="search_actor" value="{{ actor.email }}" id="search_actor" autocomplete="off" autofocus />
        <input class="btn" type="submit" name="change_list" value="Get actor" />
        <input type="hidden" name="filter_actor" value="{{ actor.id }}" id="filter_actor" />
    </form> -->
    <div id='actor_set'>
        {% if 'date' in request.REQUEST %}
        {% include "card/attendance_list1.html" %}
        {% else %}
        {% include "card/attendance_list.html" %}
        {% endif %}
    </div>
    
</div>
</div>
{% endblock %}
