<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">

		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<title>create_attendance</title>
		<meta name="description" content="">
		<meta name="author" content="Vani">

		<meta name="viewport" content="width=device-width; initial-scale=1.0">

		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	</head>

	<body>
		<form name="f1" method="post" action="/create_excel/" id="f1">  
    	{% csrf_token %}
		<div>
			<label for="department">Department: *</label>
            <select id="department" name="department">
			<option selected="selected" value="">--Select department--</option>
			{% for departments in department %} 
			<option value="{{ departments.id }}">{{ departments.department }}</option>
			{% endfor %}
			</select><br>

			<label for="degree">Degree: *</label>
			<select id="degree" name="degree">
			<option selected="selected" value="">--Select degree--</option>
			{% for degrees in degree %} 
			<option value="{{ degrees.id }}">{{ degrees.degree }}</option>
			{% endfor %}
			</select><br>
			
			<label for="year">Year: *</label>
			<select id="year" name="year">
			<option selected="selected" value="">--Select year--</option>
			{% for years in year %} 
			<option value="{{ years.id }}">{{ years.year }}</option>
			{% endfor %}
			</select><br>
			<label for="date">Date: *</label>
			<input type ="text" name="date" value="{{now|date:'d/m/y'}}">
		
			
		</div>	
			<div>
				<table border=1>
					<tr>
						<th>REG.No.</th>
						<th>NAME</th>
						<th>OPTIONS</th>
					</tr>
					{% for admissions in admission %}
					<tr>
						<td><input type="text" name="aregno" value="{{admissions.reg_no}}"></td>
						<td><input type="text" name="aname" value="{{admissions.name}}"></td>
						<td><input type="checkbox" name="checkbox" value="" id="checkbox_attendance"></td>
					</tr>
					{% endfor %}
					
			
				</table>
				
		<tr>
			<td> <td>
			<input type="submit" name="create" value="Create" style="font-size:18px; " />
		</tr>


        

		</div>
	</body>
</html>
