<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<title>index</title>
		<meta name="description" content="">
		<meta name="author" content="Vani">

		<meta name="viewport" content="width=device-width; initial-scale=1.0">

		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	</head>

	<body>
		<div id="admission_form">
    
    	
    	{% csrf_token %}
        <table>
           <header>
			<p>
					<a href="/admission/">Admission</a> 
					<a href="/create_attendance/">Create_Attendance</a>
					<a href="/display_absent_list/">Display_Absent_List</a>
					<a href="/apidocs/">API</a>
					<a href="/apidocs/playground/">API Playground</a>
					<a href="/staff_details/">Staff_Details</a>
					<a href="/parent_details/">Parent_details</a>
				</p>
			</header>
			<nav>
				<p>
					<a href="/">Home</a>
				</p>
				<p>
					<a href="/contact">Contact</a>
				</p>
			</nav>

        </table>
    
</div>
	</body>
</html>
